Benachrichtigung, wenn die Waschmaschine fertig ist - Variante Entscheidungswert/flow.json
[{"id":"1dcb9f56.0c98f1","type":"subflow","name":"sendMessage","info":"","category":"","in":[{"x":160,"y":280,"wires":[{"id":"7113a90f.78d288"}]}],"out":[{"x":1200,"y":300,"wires":[{"id":"c015a8c4.074c68","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c015a8c4.074c68","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1070,"y":300,"wires":[[]]},{"id":"7113a90f.78d288","type":"switch","z":"1dcb9f56.0c98f1","name":"","property":"sentMessageId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["291984d6.17272c"],["dae111f3.e48ba"]]},{"id":"dae111f3.e48ba","type":"function","z":"1dcb9f56.0c98f1","name":"Nachricht erstellen","func":"var content = msg.message;\n\nmsg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.options = {\n    parse_mode : \"Markdown\"\n};\nmsg.payload.content = content.toString();\nmsg.payload.type = 'message';\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":300,"wires":[["c015a8c4.074c68"]]},{"id":"99589480.be74f8","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":true,"outputs":2,"x":650,"y":260,"wires":[["dae111f3.e48ba"],["dae111f3.e48ba"]]},{"id":"291984d6.17272c","type":"function","z":"1dcb9f56.0c98f1","name":"Löschobjekt erstellen","func":"msg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.content = msg.sentMessageId;\nmsg.payload.type = 'deleteMessage';\nmsg.payload.options = {\n    message_id : msg.sentMessageId,\n    chat_id : msg.payload.chatId\n};\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["99589480.be74f8"]]},{"id":"6cf432ca.c994fc","type":"comment","z":"1dcb9f56.0c98f1","name":"Nachricht erst löschen, dann neu erstellen (wird sie nur geupdated, wird der Zeitstempel nicht aktualisiert und identische Nachrichten können nicht versendet werden)","info":"","x":650,"y":40,"wires":[]},{"id":"1719c06f.03c4a","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.chatId = ID des Chats, wohin die Nachricht gepostet werden soll","info":"","x":360,"y":80,"wires":[]},{"id":"7c488ee.709da7","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.sentMessageId = Nachrichten-ID der letzten (zugehörigen) Nachricht, die ersetzt werden soll","info":"","x":450,"y":120,"wires":[]},{"id":"56fd0e66.a48f2","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.message = Text-Nachricht, die gesendet werden soll, Markdown möglich","info":"","x":390,"y":160,"wires":[]},{"id":"5ba1e133.0859f","type":"ccu-rpc-event","z":"3ba3e58f.887512","name":"virtueller Kanal der WaMa","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"kg_hwr_rechts","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"kg_hwr_rechts:4","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"STATE","datapointRx":"str","change":true,"working":false,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":190,"y":920,"wires":[["8ca3ede6.b5594"]]},{"id":"8ca3ede6.b5594","type":"switch","z":"3ba3e58f.887512","name":"aktiv?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":920,"wires":[[],["cfcf84b4.74b898"]]},{"id":"cfcf84b4.74b898","type":"change","z":"3ba3e58f.887512","name":"Chatdaten festlegen","rules":[{"t":"set","p":"message","pt":"msg","to":"🅆 *Waschmaschine* ist fertig.","tot":"str"},{"t":"set","p":"chatId","pt":"msg","to":"<hier deine Telegram-ID eintragen>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":920,"wires":[["446c56f2.53ecb8"]]},{"id":"446c56f2.53ecb8","type":"subflow:1dcb9f56.0c98f1","z":"3ba3e58f.887512","name":"","env":[],"x":820,"y":920,"wires":[[]]},{"id":"341141f2.c1ed3e","type":"comment","z":"3ba3e58f.887512","name":"Waschmaschinen-Fertigmeldung","info":"","x":170,"y":880,"wires":[]},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":false,"iprfEnabled":true,"virtEnabled":false,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","queueTimeout":"5000","queuePause":"250","contextStore":""}]
