Benachrichtigung, wenn die Waschmaschine fertig ist/flow.json
[
    {
        "id": "49403200.1eed8",
        "type": "ui_button",
        "z": "ba89bc21.914a5",
        "name": "Trockner",
        "group": "56e09ed1.68396",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Status",
        "color": "{{msg.colour}}",
        "bgcolor": "#333333",
        "icon": "fa-spinner fa-2x",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 1170,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9bfc6b2a.5c4e78",
        "type": "function",
        "z": "ba89bc21.914a5",
        "name": "",
        "func": "var current = msg.payload;\n\nif (current <= 0.1) {\n msg.topic = \"off\";\n} else if (current > 0.1 && current < 100.0) {\n msg.topic = \"standby\";\n} else if (current >= 100.0 && current < 200.0) {\n msg.topic = \"low\";\n} else if (current >= 200.0) {\n msg.topic = \"full\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "f0b4047c.71b1d8"
            ]
        ]
    },
    {
        "id": "affae6fa.ddafb8",
        "type": "switch",
        "z": "ba89bc21.914a5",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STANDBY",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RUNNING",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "READY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 760,
        "y": 800,
        "wires": [
            [
                "18e37f75.1cbfa1"
            ],
            [
                "cfd305f7.db5108"
            ],
            [
                "417dbe43.675d1"
            ],
            [
                "1c1fc00d.b9403",
                "e5b448d6.4fb3f8"
            ]
        ]
    },
    {
        "id": "cfd305f7.db5108",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "grün",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#097479",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 760,
        "wires": [
            [
                "49403200.1eed8"
            ]
        ]
    },
    {
        "id": "417dbe43.675d1",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "rot",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 800,
        "wires": [
            [
                "49403200.1eed8"
            ]
        ]
    },
    {
        "id": "e5b448d6.4fb3f8",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "gelb",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 880,
        "wires": [
            [
                "49403200.1eed8"
            ]
        ]
    },
    {
        "id": "1c1fc00d.b9403",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "Nachricht",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "?? *Trockner* ist fertig.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "18e37f75.1cbfa1",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "grau",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#898989",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 720,
        "wires": [
            [
                "49403200.1eed8"
            ]
        ]
    },
    {
        "id": "c9cb7fe7.22e21",
        "type": "comment",
        "z": "ba89bc21.914a5",
        "name": "Benachrichtigung",
        "info": "",
        "x": 1120,
        "y": 840,
        "wires": []
    },
    {
        "id": "f0b4047c.71b1d8",
        "type": "finite-state-machine",
        "z": "ba89bc21.914a5",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"OFF\"},\"transitions\":{\"OFF\":{\"standby\":\"STANDBY\",\"low\":\"STANDBY\",\"full\":\"RUNNING\"},\"STANDBY\":{\"off\":\"OFF\",\"low\":\"STANDBY\",\"full\":\"RUNNING\"},\"RUNNING\":{\"full\":\"RUNNING\",\"low\":\"RUNNING\",\"standby\":\"READY\"},\"READY\":{\"low\":\"READY\",\"standby\":\"READY\",\"off\":\"OFF\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 580,
        "y": 800,
        "wires": [
            [
                "affae6fa.ddafb8"
            ]
        ]
    },
    {
        "id": "36bc3641.dcf32a",
        "type": "comment",
        "z": "ba89bc21.914a5",
        "name": "hier Dein Messaktor",
        "info": "",
        "x": 190,
        "y": 800,
        "wires": []
    },
    {
        "id": "56e09ed1.68396",
        "type": "ui_group",
        "name": "HWR",
        "tab": "4a55df30.966b6",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "4a55df30.966b6",
        "type": "ui_tab",
        "name": "Kellergeschoß",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
