Sonnenstand-, wind und regenabhaengige Markisensteuerung/flow.json
[{"id":"9980c2c7.3041f","type":"tab","label":"Markisensteuerung","disabled":false,"info":""},{"id":"6f27345a.8f4ccc","type":"ccu-value","z":"9980c2c7.3041f","name":"","iface":"BidCos-Wired","channel":"PEQ1682397:3 eg_terrasse_markise:3","datapoint":"LEVEL","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":1240,"y":800,"wires":[[]]},{"id":"17442afc.009a25","type":"ccu-rpc-event","z":"9980c2c7.3041f","name":"","iface":"BidCos-Wired","ccuConfig":"38263145.35ea0e","rooms":"Terrasse","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"eg_terrasse_markise","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"eg_terrasse_markise:3","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"LEVEL","datapointRx":"str","change":true,"working":true,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":160,"y":740,"wires":[["3a875cb3.e5fde4"]]},{"id":"5156a668.4124f8","type":"ui_button","z":"9980c2c7.3041f","name":"Markisen-Automatik","group":"75c6b879.5bc8c8","order":18,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Markisen-Automatik","color":"{{(msg.payload == true ?\"#097479\":\"#898989\")}}","bgcolor":"#333333","icon":"fa-magic fa-2x","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":460,"y":180,"wires":[["b4ed0ee1.4fc7d"]]},{"id":"3a875cb3.e5fde4","type":"ui_dropdown","z":"9980c2c7.3041f","name":"","label":"Markise","tooltip":"","place":"Select option","group":"75c6b879.5bc8c8","order":17,"width":3,"height":1,"passthru":false,"multiple":false,"options":[{"label":"drin","value":1,"type":"num"},{"label":"80%","value":0.8,"type":"num"},{"label":"60%","value":0.6,"type":"num"},{"label":"40%","value":0.4,"type":"num"},{"label":"20%","value":0.2,"type":"num"},{"label":"raus","value":0,"type":"num"}],"payload":"","topic":"","topicType":"str","x":320,"y":740,"wires":[["b964c4ee.3a0508"]]},{"id":"efab7cbe.0b1be","type":"inject","z":"9980c2c7.3041f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(memory)::markise.automatik","payloadType":"flow","x":200,"y":180,"wires":[["5156a668.4124f8"]]},{"id":"3b792a1b.1ccec6","type":"link in","z":"9980c2c7.3041f","name":"","links":["9902f38c.df764","f2983d97.600c8"],"x":295,"y":140,"wires":[["5156a668.4124f8"]]},{"id":"613e9944.d36958","type":"link out","z":"9980c2c7.3041f","name":"","links":["686bee1e.04d4"],"x":1295,"y":220,"wires":[]},{"id":"b4ed0ee1.4fc7d","type":"switch","z":"9980c2c7.3041f","name":"Automatik an?","property":"markise.automatik","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":180,"wires":[["96a0f1bb.bee07"],["1c35235.1c30bdd"]]},{"id":"96a0f1bb.bee07","type":"change","z":"9980c2c7.3041f","name":"aus","rules":[{"t":"set","p":"markise.automatik","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":140,"wires":[["9902f38c.df764","d33507b8.2b08e8"]]},{"id":"1c35235.1c30bdd","type":"change","z":"9980c2c7.3041f","name":"an","rules":[{"t":"set","p":"markise.automatik","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["9902f38c.df764","9bc7fa6.ffc0408"]]},{"id":"7e078ac9.de48e4","type":"switch","z":"9980c2c7.3041f","name":"Elevation","property":"payload.altitude","propertyType":"msg","rules":[{"t":"btwn","v":"51.5","vt":"num","v2":"57.0","v2t":"num"},{"t":"btwn","v":"44","vt":"num","v2":"51.5","v2t":"num"},{"t":"btwn","v":"40","vt":"num","v2":"44","v2t":"num"},{"t":"btwn","v":"35","vt":"num","v2":"40","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"35","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":460,"y":400,"wires":[["2fac8772.cd9148"],["2f5bb5b4.2f9cfa"],["1c8f0deb.b3e7b2"],["6ad8e27b.cd60c4"],["3455ea0f.ce4186"],["900d5f72.1f4c8"]]},{"id":"d6b521a8.1f37a","type":"link in","z":"9980c2c7.3041f","name":"","links":["4f06a9af.8f6778"],"x":115,"y":400,"wires":[["c29e2d64.21a67"]]},{"id":"8dca74b.e936088","type":"change","z":"9980c2c7.3041f","name":"bei Regen sofort einfahren","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":660,"wires":[["6f27345a.8f4ccc"]]},{"id":"c6f6e7a7.d9cff8","type":"link in","z":"9980c2c7.3041f","name":"","links":["bdac4090.7c555"],"x":135,"y":660,"wires":[["48ed13a2.234fcc"]]},{"id":"c29e2d64.21a67","type":"switch","z":"9980c2c7.3041f","name":"Azimuth 190-320?","property":"payload.azimuth","propertyType":"msg","rules":[{"t":"btwn","v":"190","vt":"num","v2":"320","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":400,"wires":[["7e078ac9.de48e4"]]},{"id":"2fac8772.cd9148","type":"change","z":"9980c2c7.3041f","name":"80%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"0.8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["7e48cc26.a6c494"]]},{"id":"2f5bb5b4.2f9cfa","type":"change","z":"9980c2c7.3041f","name":"60%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"0.6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["7e48cc26.a6c494"]]},{"id":"1c8f0deb.b3e7b2","type":"change","z":"9980c2c7.3041f","name":"40%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"0.4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["7e48cc26.a6c494"]]},{"id":"3455ea0f.ce4186","type":"change","z":"9980c2c7.3041f","name":"0%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"0.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["7e48cc26.a6c494"]]},{"id":"900d5f72.1f4c8","type":"change","z":"9980c2c7.3041f","name":"100%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"1.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":500,"wires":[["7e48cc26.a6c494"]]},{"id":"79f13b11.595894","type":"link in","z":"9980c2c7.3041f","name":"","links":["feb74851.5fb978"],"x":115,"y":540,"wires":[["62718196.10d8a"]]},{"id":"b87ee517.adc8b8","type":"comment","z":"9980c2c7.3041f","name":"Berechnung des Sonnenstands","info":"","x":210,"y":360,"wires":[]},{"id":"f73ff2c3.0b7fd","type":"link out","z":"9980c2c7.3041f","name":"","links":["686bee1e.04d4"],"x":1215,"y":540,"wires":[]},{"id":"686bee1e.04d4","type":"link in","z":"9980c2c7.3041f","name":"","links":["f73ff2c3.0b7fd","613e9944.d36958"],"x":135,"y":840,"wires":[["dd9638e3.ca0a68"]]},{"id":"9fc7d9c.1421c28","type":"link in","z":"9980c2c7.3041f","name":"","links":["367f8352.d8b38c"],"x":135,"y":700,"wires":[["396c72f8.60fd5e"]]},{"id":"d7a1232d.71d4","type":"change","z":"9980c2c7.3041f","name":"bei Sturm sofort einfahren","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":700,"wires":[["6f27345a.8f4ccc"]]},{"id":"dd9638e3.ca0a68","type":"switch","z":"9980c2c7.3041f","name":"soll verschattet werden?","property":"wetter.verschattung","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":840,"wires":[["6b35dd5d.135cd4"],[]]},{"id":"6b35dd5d.135cd4","type":"switch","z":"9980c2c7.3041f","name":"Automatik an?","property":"markise.automatik","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":840,"wires":[["66fa162.91cf7e8"],["f6be9229.e564b"]]},{"id":"66fa162.91cf7e8","type":"switch","z":"9980c2c7.3041f","name":"ist es trocken?","property":"wetter.regen","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":840,"wires":[["7bd8206f.a72c"]]},{"id":"7e48cc26.a6c494","type":"function","z":"9980c2c7.3041f","name":"windabhängige Auslenkung","func":"let sonnenStand = flow.get(\"markise.level.sonnenStand\");\nlet maxLevel = flow.get(\"markise.level.max\") || 0;\n\n//node.warn(\"sonnenStand:\"+sonnenStand + \" maxLevel:\"+maxLevel);\nlet destinationLevel = sonnenStand;\nif (sonnenStand < maxLevel) {\n    destinationLevel = maxLevel;\n\n    let berechnet = flow.get(\"markise.level.berechnet\") || 0;\n    let lastTimeStamp = new Date(flow.get(\"markise.letzter_wind\")) || 0;\n    let currentTimeStamp = new Date();\n    if ((currentTimeStamp - lastTimeStamp) < 600000) {\n        destinationLevel = berechnet;\n    }\n    flow.set(\"markise.letzter_wind\", currentTimeStamp);\n}\nflow.set(\"markise.level.berechnet\", destinationLevel);\n\nreturn {payload: destinationLevel};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[["b35e7ad5.5da408"]]},{"id":"b1025e2a.b1ff4","type":"comment","z":"9980c2c7.3041f","name":"Einbeziehung der mittleren Windstärke","info":"","x":230,"y":500,"wires":[]},{"id":"b35e7ad5.5da408","type":"rbe","z":"9980c2c7.3041f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1130,"y":540,"wires":[["f73ff2c3.0b7fd"]]},{"id":"7bd8206f.a72c","type":"switch","z":"9980c2c7.3041f","name":"Windig?","property":"wetter.windig","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":840,"wires":[["6f27345a.8f4ccc"]]},{"id":"b964c4ee.3a0508","type":"change","z":"9980c2c7.3041f","name":"Automatik ausschalten","rules":[{"t":"set","p":"markise.automatik","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":740,"wires":[["f2983d97.600c8","ccf38e6e.47801"]]},{"id":"9bc7fa6.ffc0408","type":"change","z":"9980c2c7.3041f","name":"auf berechneten Wert fahren","rules":[{"t":"set","p":"payload","pt":"msg","to":"markise.level.berechnet","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":220,"wires":[["613e9944.d36958"]]},{"id":"9bff4ed8.5d24b","type":"inject","z":"9980c2c7.3041f","name":"22:00-Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":900,"wires":[["74361eb5.67272"]]},{"id":"2adbd51e.01bc1a","type":"switch","z":"9980c2c7.3041f","name":"roll.nacht?","property":"roll.nacht","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":940,"wires":[["74361eb5.67272"],[]]},{"id":"74361eb5.67272","type":"change","z":"9980c2c7.3041f","name":"nach 2000/Sonnenuntergang einfahren","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":900,"wires":[["6f27345a.8f4ccc"]]},{"id":"619a236c.4c23cc","type":"link in","z":"9980c2c7.3041f","name":"","links":["5037c9c8.3ce418"],"x":115,"y":940,"wires":[["2adbd51e.01bc1a"]]},{"id":"e57bae5c.f755c","type":"comment","z":"9980c2c7.3041f","name":"Markisensteuerung","info":"","x":110,"y":100,"wires":[]},{"id":"367d3368.54d95c","type":"comment","z":"9980c2c7.3041f","name":"keine Sonne mehr?","info":"","x":410,"y":920,"wires":[]},{"id":"2fee662c.c8b99a","type":"link in","z":"9980c2c7.3041f","name":"","links":["2dcea63.0b1675a"],"x":715,"y":140,"wires":[["96a0f1bb.bee07"]]},{"id":"9f6f67e9.3b5ca8","type":"link in","z":"9980c2c7.3041f","name":"","links":["ed3a7953.f667c8"],"x":715,"y":220,"wires":[["1c35235.1c30bdd"]]},{"id":"9902f38c.df764","type":"link out","z":"9980c2c7.3041f","name":"","links":["3b792a1b.1ccec6"],"x":955,"y":180,"wires":[]},{"id":"d33507b8.2b08e8","type":"change","z":"9980c2c7.3041f","name":"einziehen","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["7f62177b.9aa5b8"]]},{"id":"3ee731e8.0bcf3e","type":"link in","z":"9980c2c7.3041f","name":"","links":["7f62177b.9aa5b8"],"x":1035,"y":800,"wires":[["6f27345a.8f4ccc"]]},{"id":"7f62177b.9aa5b8","type":"link out","z":"9980c2c7.3041f","name":"","links":["3ee731e8.0bcf3e"],"x":1295,"y":140,"wires":[]},{"id":"48ed13a2.234fcc","type":"ccu-get-value","z":"9980c2c7.3041f","name":"Markisenlevel","ccuConfig":"38263145.35ea0e","iface":"BidCos-Wired","channel":"PEQ1682397:3 eg_terrasse_markise:3","sysvar":"","sysvarProperty":"value","datapoint":"LEVEL","datapointProperty":"value","setProp":"level","setPropType":"msg","x":320,"y":660,"wires":[["ddc69b58.b1bee8"]]},{"id":"396c72f8.60fd5e","type":"ccu-get-value","z":"9980c2c7.3041f","name":"Markisenlevel","ccuConfig":"38263145.35ea0e","iface":"BidCos-Wired","channel":"PEQ1682397:3 eg_terrasse_markise:3","sysvar":"","sysvarProperty":"value","datapoint":"LEVEL","datapointProperty":"value","setProp":"level","setPropType":"msg","x":320,"y":700,"wires":[["113bde6c.fcf632"]]},{"id":"ddc69b58.b1bee8","type":"switch","z":"9980c2c7.3041f","name":"ausgefahren?","property":"level","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":660,"wires":[["8dca74b.e936088"]]},{"id":"113bde6c.fcf632","type":"switch","z":"9980c2c7.3041f","name":"ausgefahren?","property":"level","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":700,"wires":[["d7a1232d.71d4"]]},{"id":"472023e4.5f079c","type":"link in","z":"9980c2c7.3041f","name":"","links":["c763a9e0.0d6318"],"x":115,"y":980,"wires":[["ff97cc57.6829f"]]},{"id":"ff97cc57.6829f","type":"switch","z":"9980c2c7.3041f","name":"keine Verschattung mehr?","property":"wetter.verschattung","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":980,"wires":[["4539c813.c1df18"]]},{"id":"4539c813.c1df18","type":"change","z":"9980c2c7.3041f","name":"einfahren","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":980,"wires":[["6f27345a.8f4ccc"]]},{"id":"f2983d97.600c8","type":"link out","z":"9980c2c7.3041f","name":"","links":["3b792a1b.1ccec6"],"x":695,"y":760,"wires":[]},{"id":"4d4a6df1.b66ae4","type":"inject","z":"9980c2c7.3041f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":630,"y":220,"wires":[["1c35235.1c30bdd"]]},{"id":"62718196.10d8a","type":"function","z":"9980c2c7.3041f","name":"max Auslenkung berechnen","func":"let istWindig = global.get(\"wetter.windig\") || false;\nlet maxLevel = 1.0;\nif (!istWindig) {\n    if (msg.payload > 10.0) {\n        maxLevel = 1.0;\n    } else if (msg.payload > 7.0) {\n        maxLevel = 0.8;\n    } else if (msg.payload > 6.0) {\n        maxLevel = 0.6;\n    } else if (msg.payload > 5.0) {\n        maxLevel = 0.4;\n    } else {\n        maxLevel = 0;\n    }\n}\nflow.set(\"markise.level.max\", maxLevel);\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":540,"wires":[["7e48cc26.a6c494"]]},{"id":"ccf38e6e.47801","type":"function","z":"9980c2c7.3041f","name":"Auslenkung setzen","func":"let maxLevel = flow.get(\"markise.level.max\") || 0;\nif (msg.payload < maxLevel) {\n    msg.payload = maxLevel;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":740,"wires":[["6f27345a.8f4ccc"]]},{"id":"f6be9229.e564b","type":"ccu-get-value","z":"9980c2c7.3041f","name":"Markisenlevel","ccuConfig":"38263145.35ea0e","iface":"BidCos-Wired","channel":"PEQ1682397:3 eg_terrasse_markise:3","sysvar":"","sysvarProperty":"value","datapoint":"LEVEL","datapointProperty":"value","setProp":"payload","setPropType":"msg","x":720,"y":800,"wires":[["ccf38e6e.47801"]]},{"id":"6ad8e27b.cd60c4","type":"change","z":"9980c2c7.3041f","name":"20%","rules":[{"t":"set","p":"markise.level.sonnenStand","pt":"flow","to":"0.2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["7e48cc26.a6c494"]]},{"id":"ecc1e267.2a7f1","type":"comment","z":"9980c2c7.3041f","name":"Wetter","info":"","x":70,"y":1340,"wires":[]},{"id":"e0cd4549.c282f8","type":"ccu-sysvar","z":"9980c2c7.3041f","name":"w_sonnentemperatur","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":180,"y":1480,"wires":[["3f85f501.3950ea","9ea3d79a.2cee58"]]},{"id":"724a9abc.3ba834","type":"ccu-sysvar","z":"9980c2c7.3041f","name":"w_wind_mittel","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":160,"y":1660,"wires":[["7a66f091.c1cca"]]},{"id":"a14ebecd.a487b","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"wetter.windig","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1720,"wires":[["367f8352.d8b38c"]]},{"id":"c2c48612.1700b8","type":"ccu-sysvar","z":"9980c2c7.3041f","name":"w_wind_spitze","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":160,"y":1720,"wires":[["b209746c.de94d8"]]},{"id":"367f8352.d8b38c","type":"link out","z":"9980c2c7.3041f","name":"wetter.windig","links":["9fc7d9c.1421c28"],"x":1015,"y":1720,"wires":[]},{"id":"c7cbebcd.2decb8","type":"comment","z":"9980c2c7.3041f","name":"ist es sonnig?","info":"","x":410,"y":1520,"wires":[]},{"id":"3f85f501.3950ea","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"w_sonnentemperatur","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1400,"wires":[["2c53ad1e.184ca2"]]},{"id":"2c53ad1e.184ca2","type":"link out","z":"9980c2c7.3041f","name":"w_sonnentermperatur","links":["971b7a03.7d44a8"],"x":660,"y":1400,"wires":[]},{"id":"95259e49.8ed6f","type":"change","z":"9980c2c7.3041f","name":"Verschattung an","rules":[{"t":"set","p":"wetter.verschattung","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1460,"wires":[["c763a9e0.0d6318","3b6fff1b.15a06"]]},{"id":"c763a9e0.0d6318","type":"link out","z":"9980c2c7.3041f","name":"wetter.verschattung","links":["808fdb0c.b9db58","47291d3c.49b854","569369b2.156d18","472023e4.5f079c"],"x":1415,"y":1460,"wires":[]},{"id":"9ea3d79a.2cee58","type":"switch","z":"9980c2c7.3041f","name":">31°C?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"31","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":1480,"wires":[["1c4d81ff.c2b4ce"],["597fc8fd.61cb48"]]},{"id":"6e0aa270.27d72c","type":"change","z":"9980c2c7.3041f","name":"Verschattung aus","rules":[{"t":"set","p":"wetter.verschattung","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1500,"wires":[["d84d8e51.f0ba4"]]},{"id":"d84d8e51.f0ba4","type":"trigger","z":"9980c2c7.3041f","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":1260,"y":1500,"wires":[["c763a9e0.0d6318"]]},{"id":"3b6fff1b.15a06","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1480,"wires":[["d84d8e51.f0ba4"]]},{"id":"1c4d81ff.c2b4ce","type":"switch","z":"9980c2c7.3041f","name":"noch nicht gesetzt?","property":"wetter.verschattung","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1460,"wires":[[],["95259e49.8ed6f"]]},{"id":"597fc8fd.61cb48","type":"switch","z":"9980c2c7.3041f","name":"bereits gesetzt?","property":"wetter.verschattung","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":1500,"wires":[["6e0aa270.27d72c"]]},{"id":"4ccfa6cd.7a5408","type":"sun-position","z":"9980c2c7.3041f","name":"","positionConfig":"c378372d.fbc718","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":390,"y":1580,"wires":[["4f06a9af.8f6778"]]},{"id":"918f52cf.eef11","type":"inject","z":"9980c2c7.3041f","name":"5min-Trigger","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":200,"y":1580,"wires":[["4ccfa6cd.7a5408"]]},{"id":"4f06a9af.8f6778","type":"link out","z":"9980c2c7.3041f","name":"außen_sonnenstand","links":["d6b521a8.1f37a"],"x":1015,"y":1580,"wires":[]},{"id":"feb74851.5fb978","type":"link out","z":"9980c2c7.3041f","name":"wetter.wind","links":["79f13b11.595894"],"x":1015,"y":1660,"wires":[]},{"id":"7a66f091.c1cca","type":"rbe","z":"9980c2c7.3041f","name":"","func":"deadband","gap":"0.5","start":"","inout":"in","septopics":false,"property":"payload","x":360,"y":1660,"wires":[["4c5591dc.6385d"]]},{"id":"4c5591dc.6385d","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"wetter.windStaerke","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1660,"wires":[["feb74851.5fb978"]]},{"id":"3eb27b67.0c1e64","type":"trigger","z":"9980c2c7.3041f","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":600,"y":1720,"wires":[["a14ebecd.a487b"]]},{"id":"b209746c.de94d8","type":"switch","z":"9980c2c7.3041f","name":"Windspitze > 11?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1720,"wires":[["3eb27b67.0c1e64","3a96d199.28ca2e"]]},{"id":"3a96d199.28ca2e","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"#:(memory)::wetter.windspitze","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1760,"wires":[[]]},{"id":"14922ceb.dea663","type":"ccu-sysvar","z":"9980c2c7.3041f","name":"w_regenmelder","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":true,"x":160,"y":1820,"wires":[["c187866.0ad4978"]]},{"id":"c187866.0ad4978","type":"change","z":"9980c2c7.3041f","name":"","rules":[{"t":"set","p":"wetter.regen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1820,"wires":[["9986aa29.733e58"]]},{"id":"bdac4090.7c555","type":"link out","z":"9980c2c7.3041f","name":"wetter.regen","links":["c6f6e7a7.d9cff8"],"x":1015,"y":1820,"wires":[]},{"id":"9986aa29.733e58","type":"rbe","z":"9980c2c7.3041f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","x":610,"y":1820,"wires":[["bdac4090.7c555"]]},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]
