Automatisches Badlicht mit Bewegungsmelder/flow.json
[{"id":"7d218866.be50c8","type":"subflow","name":"to bool","info":"","category":"","in":[{"x":200,"y":100,"wires":[{"id":"17f5f2d4.827d3d"}]}],"out":[{"x":440,"y":100,"wires":[{"id":"17f5f2d4.827d3d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"17f5f2d4.827d3d","type":"function","z":"7d218866.be50c8","name":"zu bool","func":"var payload = msg.payload || 0;\nmsg.payload = false;\n\nswitch (typeof payload) {\n    case 'number':\n        switch (payload) {\n            case 1:\n            case 2:\n                msg.payload = true;\n                break;\n        }\n        break;\n    case 'string':\n        switch (payload.toLowerCase()) {\n            case \"on\":\n            case \"true\":\n                msg.payload = true;\n                break;\n        }\n        break;\n    default: msg.payload = payload;\n}\n\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[[]]},{"id":"d21d4f79.d0c2b","type":"comment","z":"7d218866.be50c8","name":"converts case insensitive \"on\", \"true\", 1 and 2 to true","info":"","x":330,"y":40,"wires":[],"icon":"node-red-contrib-combine/logic.png"},{"id":"c08b0979.7553a8","type":"tab","label":"Badlicht","disabled":false,"info":""},{"id":"fe45d0d3.715ad","type":"comment","z":"c08b0979.7553a8","name":"gedämmtes Licht bei Türöffnung, wenn keine Präsenz -> nach 10s wieder aus","info":"","x":440,"y":600,"wires":[]},{"id":"c84e00f.d032a","type":"ui_button","z":"c08b0979.7553a8","name":"Präsenz gemeldet","group":"c4e0b5b9.a36738","order":10,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Präsenz Bad","color":"{{(msg.payload != false ? \"#097479\":\"#898989\")}}","bgcolor":"#333333","icon":"fa-user-circle-o fa-2x","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":420,"y":320,"wires":[[]]},{"id":"22cc44c1.d6129c","type":"ccu-rpc-event","z":"c08b0979.7553a8","name":"Präsenz","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Bad","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"eg_bad_bm","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"eg_bad_bm:3","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"MOTION","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":230,"y":340,"wires":[["c84e00f.d032a","ebfc62cb.d504"]]},{"id":"2cbf2568.4b6a0a","type":"ui_text","z":"c08b0979.7553a8","group":"c4e0b5b9.a36738","order":9,"width":3,"height":1,"name":"","label":"Präsenz","format":"","layout":"row-spread","x":590,"y":320,"wires":[]},{"id":"824012a0.f09a1","type":"change","z":"c08b0979.7553a8","name":"","rules":[{"t":"set","p":"#:(memory)::licht.level","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1060,"wires":[["b8536cb4.60a2b"]]},{"id":"8261fc5a.a884c","type":"function","z":"c08b0979.7553a8","name":"OFF -> 0","func":"if (msg.payload === \"OFF\") {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1120,"wires":[["824012a0.f09a1"]]},{"id":"313a2e3b.6204b2","type":"switch","z":"c08b0979.7553a8","name":"nur Helligkeit/Status der Antwort erwarten","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/brightness","vt":"str"},{"t":"cont","v":"/state","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":1080,"wires":[["824012a0.f09a1"],["8261fc5a.a884c"]]},{"id":"b8536cb4.60a2b","type":"link out","z":"c08b0979.7553a8","name":"","links":["20a1eb45.2ae434","98b4e1df.31b87"],"x":1515,"y":1080,"wires":[]},{"id":"7ef2b8d8.df0e88","type":"comment","z":"c08b0979.7553a8","name":"Lichtsteuerung","info":"","x":200,"y":100,"wires":[]},{"id":"90e0966b.031498","type":"comment","z":"c08b0979.7553a8","name":"Präsenzerkennung","info":"# Ablauf hineingehen\n* Tür öffnen -> \"berechnete Präsenz\" zurücksetzen\n* Präsenz wird erkannt\n* Tür schließen\n* nach 16sec Präsenz erkannt -> \"berechnete Präsenz\" gesetzt\n\n# Ablauf hinausgehen\n* Präsenz wird erkannt\n* Tür wird geöffnet -> \"berechnete Präsenz\" zurücksetzen\n* Tür schließen\n* nach 16sec immer noch Präsenz -> \"berechnete Präsenz\" wieder setzen\n \n# Ablauf nur kurz hineingehen, Tür bleibt offen\n* Tür öffnen\n* Präsenz wird erkannt -> Licht an\n* keine Präsenz erkannt -> Licht aus\n","x":230,"y":160,"wires":[]},{"id":"f5a02cba.240ac","type":"mqtt in","z":"c08b0979.7553a8","name":"Türkontakt","topic":"stat/eg/bad/tuer","qos":"2","datatype":"auto","broker":"","x":230,"y":220,"wires":[["6e84d704.0749f8"]]},{"id":"6d73791b.5beee8","type":"ui_text","z":"c08b0979.7553a8","group":"c4e0b5b9.a36738","order":11,"width":3,"height":1,"name":"","label":"Präsenz berechnet","format":"","layout":"row-spread","x":680,"y":780,"wires":[]},{"id":"1464e396.d0f87c","type":"switch","z":"c08b0979.7553a8","name":"Tür auf?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":240,"wires":[["e9fe967c.b02ba8"],["b1f5a832.da9b38"]]},{"id":"9d4a22b8.8951d","type":"ui_button","z":"c08b0979.7553a8","name":"Präsenz berechnet","group":"c4e0b5b9.a36738","order":12,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Präsenz Bad","color":"{{(msg.payload != false ? \"#097479\":\"#898989\")}}","bgcolor":"#333333","icon":"fa-user-circle-o fa-2x","payload":"false","payloadType":"bool","topic":"","topicType":"str","x":680,"y":820,"wires":[["b187cd35.ee7dc"]]},{"id":"a161ed9.7dfa41","type":"ccu-rpc-event","z":"c08b0979.7553a8","name":"Helligkeit","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Bad","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"eg_bad_bm","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"eg_bad_bm:3","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"ILLUMINATION","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":230,"y":500,"wires":[["4abcbbb6.3f87d4"]]},{"id":"4abcbbb6.3f87d4","type":"change","z":"c08b0979.7553a8","name":"","rules":[{"t":"set","p":"#:(memory)::helligkeit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[[]]},{"id":"6e84d704.0749f8","type":"subflow:7d218866.be50c8","z":"c08b0979.7553a8","name":"","x":380,"y":220,"wires":[["bfbd3915.34df18","9e4bb037.20891"]]},{"id":"6984721e.6d436c","type":"change","z":"c08b0979.7553a8","name":"hell","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":\"200\",\"color_temp\":\"350\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"zigbee/eg_bad_licht/set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["de14cd1f.86ff2"]]},{"id":"38221e21.aa0172","type":"change","z":"c08b0979.7553a8","name":"dunkler","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":\"50\",\"color_temp\":\"350\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"zigbee/eg_bad_licht/set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1120,"wires":[["de14cd1f.86ff2"]]},{"id":"de14cd1f.86ff2","type":"zigbee-converter","z":"c08b0979.7553a8","shepherd":"1a11262.477e7da","name":"eg_bad_licht","topic":"zigbee/${name}","settopic":"zigbee/${name}/set","gettopic":"zigbee/${name}/get","device":"0x5c0272fffe401a4a","attribute":"","payload":"plain","x":720,"y":1080,"wires":[["313a2e3b.6204b2"]]},{"id":"4c952555.fa755c","type":"link in","z":"c08b0979.7553a8","name":"","links":["bc519c69.68923","6cb09a1d.0a1894","da9ed2b6.f4b3a"],"x":185,"y":1040,"wires":[["6984721e.6d436c"]]},{"id":"2d728f80.b8ea3","type":"link in","z":"c08b0979.7553a8","name":"","links":["2052f82d.b82818","35d05e7d.61ec72","184ba98f.369a96","aa3279c2.7a1728","3db19571.ec10ea"],"x":185,"y":1120,"wires":[["38221e21.aa0172"]]},{"id":"29005492.a69c2c","type":"within-time-switch","z":"c08b0979.7553a8","name":"","nameInt":"","positionConfig":"c378372d.fbc718","startTime":"06:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"21:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":"","timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":300,"y":1080,"wires":[["6984721e.6d436c"],["38221e21.aa0172"]]},{"id":"11ac842c.ab0f5c","type":"link in","z":"c08b0979.7553a8","name":"","links":["1d03f372.ce6c1d","3db19571.ec10ea"],"x":185,"y":660,"wires":[["db4535c7.f8ad18"]]},{"id":"db4535c7.f8ad18","type":"trigger","z":"c08b0979.7553a8","name":"nach 10s ohne Präsenz abschalten","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":660,"wires":[["67cbc350.fc3d9c"]]},{"id":"48b2d76d.6efe38","type":"change","z":"c08b0979.7553a8","name":"aus","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"OFF\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"zigbee/eg_bad_licht/set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1000,"wires":[["de14cd1f.86ff2"]]},{"id":"14b8d60.310dd2a","type":"link in","z":"c08b0979.7553a8","name":"","links":["ad00887.481c878","ac6d5c90.27db4","1b188831.a38cf8","1baef244.43ea36","e019cde1.cd1eb","78a1daf.11c0924","9850af10.86f0a","1b0697ce.66aeb8"],"x":185,"y":1000,"wires":[["48b2d76d.6efe38"]]},{"id":"ad00887.481c878","type":"link out","z":"c08b0979.7553a8","name":"","links":["14b8d60.310dd2a"],"x":835,"y":660,"wires":[]},{"id":"ebfc62cb.d504","type":"subflow:7d218866.be50c8","z":"c08b0979.7553a8","name":"","x":380,"y":380,"wires":[["a658413e.c9f","9f491889.908c18"]]},{"id":"1e256f21.13a861","type":"comment","z":"c08b0979.7553a8","name":"Deckenlicht schalten","info":"","x":240,"y":920,"wires":[]},{"id":"84fc1d4f.76a6f","type":"link in","z":"c08b0979.7553a8","name":"","links":["da67842c.19d7f8","c663c14e.f3d65","26de9434.95e80c"],"x":185,"y":1080,"wires":[["29005492.a69c2c"]]},{"id":"bfbd3915.34df18","type":"ui_switch","z":"c08b0979.7553a8","name":"","label":"Tür","tooltip":"","group":"c4e0b5b9.a36738","order":14,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock fa-2x","oncolor":"#097479","offvalue":"false","offvalueType":"bool","officon":"fa-lock fa-2x","offcolor":"#898989","animate":true,"x":560,"y":200,"wires":[[]]},{"id":"a658413e.c9f","type":"change","z":"c08b0979.7553a8","name":"","rules":[{"t":"set","p":"#:(memory)::praesenz.melder","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["315b0f0d.42a2d"]]},{"id":"67cbc350.fc3d9c","type":"switch","z":"c08b0979.7553a8","name":"gemeldete Präsenz?","property":"#:(memory)::praesenz.melder","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":660,"wires":[[],["ad00887.481c878"]]},{"id":"165dc1d7.6b210e","type":"change","z":"c08b0979.7553a8","name":"voll hell","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":\"254\",\"color_temp\":\"250\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"zigbee/eg_bad_licht/set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1160,"wires":[["de14cd1f.86ff2"]]},{"id":"9ae913d4.f018a","type":"link in","z":"c08b0979.7553a8","name":"","links":["91beaa01.2b6858"],"x":185,"y":1160,"wires":[["165dc1d7.6b210e"]]},{"id":"d486ad85.6d9d7","type":"inject","z":"c08b0979.7553a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":360,"y":1180,"wires":[["165dc1d7.6b210e"]]},{"id":"9e4bb037.20891","type":"change","z":"c08b0979.7553a8","name":"","rules":[{"t":"set","p":"#:(memory)::tuer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[["1464e396.d0f87c"]]},{"id":"b187cd35.ee7dc","type":"change","z":"c08b0979.7553a8","name":"berechnete Präsenz zurücksetzen","rules":[{"t":"set","p":"#:(memory)::praesenz.berechnet","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":820,"wires":[["9d4a22b8.8951d"]]},{"id":"82e4c416.1e7e28","type":"link in","z":"c08b0979.7553a8","name":"","links":["1d03f372.ce6c1d","ba46ceb1.29841"],"x":185,"y":820,"wires":[["b187cd35.ee7dc"]]},{"id":"6920792d.3f4958","type":"comment","z":"c08b0979.7553a8","name":"aus","info":"","x":1380,"y":420,"wires":[]},{"id":"e9fe967c.b02ba8","type":"switch","z":"c08b0979.7553a8","name":"berechnete Präsenz?","property":"#:(memory)::praesenz.berechnet","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":220,"wires":[["ba46ceb1.29841"],["ba46ceb1.29841","631775c9.c1f8ac"]]},{"id":"e93d90f0.1820d","type":"ui_chart","z":"c08b0979.7553a8","name":"","group":"c4e0b5b9.a36738","order":15,"width":0,"height":0,"label":"Präsenz","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":440,"wires":[[]]},{"id":"9f491889.908c18","type":"change","z":"c08b0979.7553a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Präsenz","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"10","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":440,"wires":[["e93d90f0.1820d"]]},{"id":"3db19571.ec10ea","type":"link out","z":"c08b0979.7553a8","name":"","links":["2d728f80.b8ea3","11ac842c.ab0f5c"],"x":1615,"y":220,"wires":[]},{"id":"631775c9.c1f8ac","type":"ccu-get-value","z":"c08b0979.7553a8","name":"Flurlicht-Status","ccuConfig":"38263145.35ea0e","iface":"HmIP-RF","channel":"0008D8A98BE642:3 eg_flur_dimmer:3","sysvar":"","sysvarProperty":"value","datapoint":"LEVEL","datapointProperty":"value","setProp":"flurlicht","setPropType":"msg","x":1300,"y":220,"wires":[["24e7f4f5.5d8e0c"]]},{"id":"24e7f4f5.5d8e0c","type":"switch","z":"c08b0979.7553a8","name":"angeschalten?","property":"flurlicht","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":220,"wires":[["3db19571.ec10ea"]]},{"id":"b1f5a832.da9b38","type":"trigger","z":"c08b0979.7553a8","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"17","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1020,"y":260,"wires":[["7ca08a44.6498e4"]]},{"id":"7ca08a44.6498e4","type":"switch","z":"c08b0979.7553a8","name":"gemeldete Präsenz?","property":"#:(memory)::praesenz.melder","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":260,"wires":[["f7b59ae0.404928"],[]]},{"id":"f7b59ae0.404928","type":"link out","z":"c08b0979.7553a8","name":"","links":["d05880b6.cb52c"],"x":1385,"y":260,"wires":[]},{"id":"d05880b6.cb52c","type":"link in","z":"c08b0979.7553a8","name":"","links":["f7b59ae0.404928","85aab7be.6d59f8"],"x":185,"y":780,"wires":[["45120bf5.198ce4"]]},{"id":"45120bf5.198ce4","type":"change","z":"c08b0979.7553a8","name":"berechnete Präsenz setzen","rules":[{"t":"set","p":"#:(memory)::praesenz.berechnet","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":780,"wires":[["9d4a22b8.8951d"]]},{"id":"315b0f0d.42a2d","type":"switch","z":"c08b0979.7553a8","name":"gemeldete Präsenz?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":380,"wires":[["a7ffb8e3.ebf758","c388d159.3f638"],["15152ad8.a10255"]]},{"id":"a7ffb8e3.ebf758","type":"delay","z":"c08b0979.7553a8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":340,"wires":[["98ff5025.7d568"]]},{"id":"98ff5025.7d568","type":"switch","z":"c08b0979.7553a8","name":"dunkel (<90)?","property":"#:(memory)::helligkeit","propertyType":"flow","rules":[{"t":"lt","v":"90","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":340,"wires":[["26de9434.95e80c"],[]]},{"id":"26de9434.95e80c","type":"link out","z":"c08b0979.7553a8","name":"","links":["84fc1d4f.76a6f"],"x":1485,"y":340,"wires":[]},{"id":"c388d159.3f638","type":"switch","z":"c08b0979.7553a8","name":"Tür offen?","property":"#:(memory)::tuer","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":380,"wires":[[],["85aab7be.6d59f8"]]},{"id":"85aab7be.6d59f8","type":"link out","z":"c08b0979.7553a8","name":"","links":["d05880b6.cb52c"],"x":1305,"y":380,"wires":[]},{"id":"15152ad8.a10255","type":"switch","z":"c08b0979.7553a8","name":"berechnete Präsenz?","property":"#:(memory)::praesenz.berechnet","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":420,"wires":[[],["1b0697ce.66aeb8"]]},{"id":"1b0697ce.66aeb8","type":"link out","z":"c08b0979.7553a8","name":"","links":["14b8d60.310dd2a","6fa96184.4de83"],"x":1305,"y":420,"wires":[]},{"id":"8a62e54e.df8388","type":"comment","z":"c08b0979.7553a8","name":"an","info":"","x":1560,"y":340,"wires":[]},{"id":"5ccf354d.9b1a3c","type":"comment","z":"c08b0979.7553a8","name":"berechnete Präsenz","info":"","x":240,"y":740,"wires":[]},{"id":"ba46ceb1.29841","type":"link out","z":"c08b0979.7553a8","name":"","links":["82e4c416.1e7e28"],"x":1235,"y":180,"wires":[]},{"id":"f3305b56.559d98","type":"comment","z":"c08b0979.7553a8","name":"auf Helligkeitswert warten","info":"","x":960,"y":320,"wires":[]},{"id":"c4e0b5b9.a36738","type":"ui_group","name":"Bad","tab":"11d3c24e.d6aa9e","order":6,"disp":true,"width":"8","collapse":false},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""},{"id":"11d3c24e.d6aa9e","type":"ui_tab","name":"Erdgeschoß","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
