Subflow für die Soundausgabe auf dem Kombisignalgeber HmIP-MP3P/flow.json
[{"id":"8063a19.52dc66","type":"subflow","name":"playSound","info":"","category":"","in":[{"x":100,"y":180,"wires":[{"id":"9d3d4b9a.550b18"}]}],"out":[],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-bullhorn"},{"id":"642de0a9.23854","type":"switch","z":"8063a19.52dc66","name":"Priorität","property":"priority","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"gte","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":660,"y":500,"wires":[["21eced2e.cf75f2"],["2834dbae.a88354","9b371319.6678d"],["b66ccf25.55812","9b371319.6678d"],["c54909d7.6ac548","9b371319.6678d"],["985e20b8.ec22f","9b371319.6678d"]]},{"id":"21eced2e.cf75f2","type":"switch","z":"8063a19.52dc66","name":"SoundFile","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"18","vt":"num"},{"t":"eq","v":"19","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"24","vt":"num"},{"t":"eq","v":"25","vt":"num"},{"t":"eq","v":"26","vt":"num"},{"t":"eq","v":"27","vt":"num"},{"t":"eq","v":"28","vt":"num"},{"t":"eq","v":"29","vt":"num"}],"checkall":"true","repair":false,"outputs":20,"x":1220,"y":500,"wires":[["2a035152.d0cd9e"],["5ea7db3.ee73724"],["a1035e06.65841"],["5f2540e1.04f16"],["637716a5.40be78"],["5ee6674.726d998"],["e883dd1c.4cb92"],["fc3ebe22.aaa8c"],["1f974417.34c34c"],["ef5ec419.ff4128"],["d0945640.eac7c8"],["6e1344a4.457f0c"],["d1a6acde.721c1"],["f4c0ae96.f5715"],["4d17ccd1.96a054"],["c787d32f.6c38c"],["9dabf9ae.140978"],["61f15392.94033c"],["6e8c2e69.d1c76"],["6533b824.6e5818"]]},{"id":"2a035152.d0cd9e","type":"ccu-signal","z":"8063a19.52dc66","name":"010","iface":"HmIP-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"10"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":300,"wires":[]},{"id":"5ea7db3.ee73724","type":"ccu-signal","z":"8063a19.52dc66","name":"011","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"11"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":320,"wires":[]},{"id":"a1035e06.65841","type":"ccu-signal","z":"8063a19.52dc66","name":"012","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"12"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":340,"wires":[]},{"id":"5f2540e1.04f16","type":"ccu-signal","z":"8063a19.52dc66","name":"013","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"13"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":360,"wires":[]},{"id":"637716a5.40be78","type":"ccu-signal","z":"8063a19.52dc66","name":"014","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"14"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":380,"wires":[]},{"id":"5ee6674.726d998","type":"ccu-signal","z":"8063a19.52dc66","name":"015","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"15"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":400,"wires":[]},{"id":"e883dd1c.4cb92","type":"ccu-signal","z":"8063a19.52dc66","name":"016","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"16"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":420,"wires":[]},{"id":"fc3ebe22.aaa8c","type":"ccu-signal","z":"8063a19.52dc66","name":"017","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"17"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":440,"wires":[]},{"id":"1f974417.34c34c","type":"ccu-signal","z":"8063a19.52dc66","name":"018","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"18"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":460,"wires":[]},{"id":"ef5ec419.ff4128","type":"ccu-signal","z":"8063a19.52dc66","name":"019","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"19"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":480,"wires":[]},{"id":"d0945640.eac7c8","type":"ccu-signal","z":"8063a19.52dc66","name":"020","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"20"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":500,"wires":[]},{"id":"6e1344a4.457f0c","type":"ccu-signal","z":"8063a19.52dc66","name":"021","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"21"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":520,"wires":[]},{"id":"d1a6acde.721c1","type":"ccu-signal","z":"8063a19.52dc66","name":"022","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"22"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":540,"wires":[]},{"id":"f4c0ae96.f5715","type":"ccu-signal","z":"8063a19.52dc66","name":"023","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"23"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":560,"wires":[]},{"id":"4d17ccd1.96a054","type":"ccu-signal","z":"8063a19.52dc66","name":"024","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"24"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":580,"wires":[]},{"id":"9dabf9ae.140978","type":"ccu-signal","z":"8063a19.52dc66","name":"026","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"26"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":620,"wires":[]},{"id":"c787d32f.6c38c","type":"ccu-signal","z":"8063a19.52dc66","name":"025","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"25"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":600,"wires":[]},{"id":"6e8c2e69.d1c76","type":"ccu-signal","z":"8063a19.52dc66","name":"028","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"28"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1490,"y":660,"wires":[]},{"id":"61f15392.94033c","type":"ccu-signal","z":"8063a19.52dc66","name":"027","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"27"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":640,"wires":[]},{"id":"6533b824.6e5818","type":"ccu-signal","z":"8063a19.52dc66","name":"029","iface":"HmIP-RF","channel":"00151BE99E218B:2","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"29"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":1610,"y":680,"wires":[]},{"id":"b66ccf25.55812","type":"ccu-signal","z":"8063a19.52dc66","name":"002","iface":"HmIP-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"2"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":870,"y":460,"wires":[]},{"id":"985e20b8.ec22f","type":"ccu-signal","z":"8063a19.52dc66","name":"006","iface":"HmIP-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"6"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":870,"y":580,"wires":[]},{"id":"9b371319.6678d","type":"delay","z":"8063a19.52dc66","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":500,"wires":[["21eced2e.cf75f2"]]},{"id":"2834dbae.a88354","type":"ccu-signal","z":"8063a19.52dc66","name":"001","iface":"HmIP-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"1"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":870,"y":420,"wires":[]},{"id":"83e458e7.ee2c98","type":"comment","z":"8063a19.52dc66","name":"abends leiser","info":"","x":830,"y":180,"wires":[]},{"id":"7daf9db7.8c1534","type":"switch","z":"8063a19.52dc66","name":"optionaler Nachtmodus?","property":"nightmode","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["d1830fdc.3d5bf"],["d860ed50.867bf"]]},{"id":"c54909d7.6ac548","type":"ccu-signal","z":"8063a19.52dc66","name":"004","iface":"HmIP-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":"soundLevel","soundLevelType":"msg","soundList":[{"sound":"4"}],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"38263145.35ea0e","x":870,"y":540,"wires":[]},{"id":"d1830fdc.3d5bf","type":"change","z":"8063a19.52dc66","name":"leise 30%","rules":[{"t":"set","p":"soundLevel","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["72cd2ac7.52b7c4"]]},{"id":"d860ed50.867bf","type":"change","z":"8063a19.52dc66","name":"lauter 80%","rules":[{"t":"set","p":"soundLevel","pt":"msg","to":"80","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":260,"wires":[["fe006e44.755ab"]]},{"id":"fe006e44.755ab","type":"within-time-switch","z":"8063a19.52dc66","name":"","nameInt":"","positionConfig":"c378372d.fbc718","startTime":"06:30","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"19:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":"","timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":870,"y":260,"wires":[["72cd2ac7.52b7c4"],["d1830fdc.3d5bf"]]},{"id":"9d3d4b9a.550b18","type":"switch","z":"8063a19.52dc66","name":"Hohe Prio?","property":"priority","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[["558af9ad.ede638"],["7daf9db7.8c1534"]]},{"id":"72cd2ac7.52b7c4","type":"link out","z":"8063a19.52dc66","name":"","links":["a4234b27.8a2308"],"x":1015,"y":200,"wires":[]},{"id":"a4234b27.8a2308","type":"link in","z":"8063a19.52dc66","name":"","links":["72cd2ac7.52b7c4"],"x":335,"y":540,"wires":[["210e8311.c0e7cc"]]},{"id":"210e8311.c0e7cc","type":"within-time-switch","z":"8063a19.52dc66","name":"","nameInt":"","positionConfig":"c378372d.fbc718","startTime":"06:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"22:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":"","timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":470,"y":540,"wires":[["642de0a9.23854"],[]]},{"id":"d29699f8.ab6a58","type":"comment","z":"8063a19.52dc66","name":"nachts Ruhe für niedrige Prio","info":"","x":380,"y":500,"wires":[]},{"id":"f567d87.d3ee928","type":"link in","z":"8063a19.52dc66","name":"","links":["2a0b335.6558acc"],"x":535,"y":460,"wires":[["642de0a9.23854"]]},{"id":"2a0b335.6558acc","type":"link out","z":"8063a19.52dc66","name":"","links":["f567d87.d3ee928"],"x":515,"y":140,"wires":[]},{"id":"558af9ad.ede638","type":"change","z":"8063a19.52dc66","name":"laut 100%","rules":[{"t":"set","p":"soundLevel","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["2a0b335.6558acc"]]},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]
