Workaround Fensterstatus/flow.json
[
    {
        "id": "4c18ada2.442ba4",
        "type": "link in",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "9c6faa39.65ddf8",
            "7eec3b0c.dd7134",
            "f4759224.4bd5e",
            "1c9566d.5cfc199"
        ],
        "x": 1055,
        "y": 220,
        "wires": [
            [
                "773a0c7c.051ad4"
            ]
        ]
    },
    {
        "id": "9c6faa39.65ddf8",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4",
            "b8c51af0.285c38"
        ],
        "x": 1375,
        "y": 260,
        "wires": []
    },
    {
        "id": "7eec3b0c.dd7134",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4"
        ],
        "x": 355,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8c51af0.285c38",
        "type": "link in",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "9c6faa39.65ddf8",
            "f4759224.4bd5e",
            "1c9566d.5cfc199"
        ],
        "x": 495,
        "y": 300,
        "wires": [
            [
                "b3ad9f22.9a59"
            ]
        ]
    },
    {
        "id": "b3ad9f22.9a59",
        "type": "ccu-value",
        "z": "ba89bc21.914a5",
        "name": "Fensterstatus Thermostat",
        "iface": "HmIP-RF",
        "channel": "0003156990CC7D:1 dg_bad_thermostat:1",
        "datapoint": "WINDOW_STATE",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "e69eb406.b7ae78"
            ]
        ]
    },
    {
        "id": "f4759224.4bd5e",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4",
            "b8c51af0.285c38"
        ],
        "x": 1375,
        "y": 380,
        "wires": []
    },
    {
        "id": "b2aabde0.949c4",
        "type": "function",
        "z": "ba89bc21.914a5",
        "name": "zu setzender Status",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "7eec3b0c.dd7134",
                "28fa5997.f20406"
            ]
        ]
    },
    {
        "id": "e69eb406.b7ae78",
        "type": "function",
        "z": "ba89bc21.914a5",
        "name": "Reset wenn Zielzustand erreicht",
        "func": "let fensterZielStatus = flow.get(\"fenster.zielStatus\", \"memory\") || false;\n\nif (msg.payload == fensterZielStatus) {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 260,
        "wires": [
            [
                "c393bd32.8a77f",
                "773a0c7c.051ad4"
            ]
        ]
    },
    {
        "id": "28fa5997.f20406",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "Zielstatus merken",
        "rules": [
            {
                "t": "set",
                "p": "fenster.zielStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "b3ad9f22.9a59"
            ]
        ]
    },
    {
        "id": "773a0c7c.051ad4",
        "type": "trigger",
        "z": "ba89bc21.914a5",
        "name": "",
        "op1": "",
        "op2": "fenster.zielStatus",
        "op1type": "nul",
        "op2type": "flow",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "ca4cec5f.e2e0a",
                "9c6faa39.65ddf8"
            ]
        ]
    },
    {
        "id": "ca4cec5f.e2e0a",
        "type": "function",
        "z": "ba89bc21.914a5",
        "name": "invertieren",
        "func": "\nreturn {payload: msg.payload = 0 ? 1 : 0};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "c393bd32.8a77f"
            ]
        ]
    },
    {
        "id": "c393bd32.8a77f",
        "type": "trigger",
        "z": "ba89bc21.914a5",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "f4759224.4bd5e"
            ]
        ]
    },
    {
        "id": "38263145.35ea0e",
        "type": "ccu-connection",
        "name": "localhost",
        "host": "localhost",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": true,
        "bcwiEnabled": false,
        "cuxdEnabled": false,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "127.0.0.1",
        "rpcServerHost": "127.0.0.1",
        "rpcBinPort": "2047",
        "rpcXmlPort": "2048"
    }
]
