Workaround Fensterstatus/flow.json
[
    {
        "id": "ef960b5a.2ad128",
        "type": "trigger",
        "z": "ba89bc21.914a5",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "9c6faa39.65ddf8",
                "386943b1.905c8c"
            ]
        ]
    },
    {
        "id": "27dc5788.2f9888",
        "type": "change",
        "z": "ba89bc21.914a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 260,
        "wires": [
            [
                "ef960b5a.2ad128",
                "386943b1.905c8c"
            ]
        ]
    },
    {
        "id": "4c18ada2.442ba4",
        "type": "link in",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "9c6faa39.65ddf8",
            "7eec3b0c.dd7134",
            "f4759224.4bd5e",
            "1c9566d.5cfc199"
        ],
        "x": 915,
        "y": 220,
        "wires": [
            [
                "ef960b5a.2ad128"
            ]
        ]
    },
    {
        "id": "9c6faa39.65ddf8",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4",
            "b8c51af0.285c38"
        ],
        "x": 1195,
        "y": 260,
        "wires": []
    },
    {
        "id": "7eec3b0c.dd7134",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4"
        ],
        "x": 355,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8c51af0.285c38",
        "type": "link in",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "9c6faa39.65ddf8",
            "f4759224.4bd5e",
            "1c9566d.5cfc199"
        ],
        "x": 435,
        "y": 300,
        "wires": [
            [
                "b3ad9f22.9a59"
            ]
        ]
    },
    {
        "id": "b3ad9f22.9a59",
        "type": "ccu-value",
        "z": "ba89bc21.914a5",
        "name": "Fensterstatus Thermostat",
        "iface": "HmIP-RF",
        "channel": "0003156990CC7D:1 dg_bad_thermostat:1",
        "datapoint": "WINDOW_STATE",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "27dc5788.2f9888"
            ]
        ]
    },
    {
        "id": "386943b1.905c8c",
        "type": "trigger",
        "z": "ba89bc21.914a5",
        "name": "",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "pay",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "f4759224.4bd5e"
            ]
        ]
    },
    {
        "id": "f4759224.4bd5e",
        "type": "link out",
        "z": "ba89bc21.914a5",
        "name": "",
        "links": [
            "4c18ada2.442ba4",
            "b8c51af0.285c38"
        ],
        "x": 1195,
        "y": 300,
        "wires": []
    },
    {
        "id": "b2aabde0.949c4",
        "type": "function",
        "z": "ba89bc21.914a5",
        "name": "zu setzender Status",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "b3ad9f22.9a59",
                "7eec3b0c.dd7134"
            ]
        ]
    },
    {
        "id": "38263145.35ea0e",
        "type": "ccu-connection",
        "name": "localhost",
        "host": "localhost",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": true,
        "bcwiEnabled": false,
        "cuxdEnabled": false,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "127.0.0.1",
        "rpcServerHost": "127.0.0.1",
        "rpcBinPort": "2047",
        "rpcXmlPort": "2048"
    }
]
