Steuerung des Roborock S5 Max mit Valetudo per REST/flow.json
[{"id":"a712c630.4f63c8","type":"change","z":"f1225c9f.60852","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"},{"t":"set","p":"capability","pt":"msg","to":"BasicControlCapability","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["5f9e6e7d.33108"]]},{"id":"d35fcc96.61f71","type":"ui_button","z":"f1225c9f.60852","name":"Stop","group":"39146c63.a01ff4","order":5,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Stop","color":"#898989","bgcolor":"#333333","icon":"fa-stop fa-2x","payload":"{\"action\":\"stop\"}","payloadType":"json","topic":"","topicType":"str","x":270,"y":680,"wires":[["a712c630.4f63c8"]]},{"id":"840c73e0.fe7a2","type":"ui_button","z":"f1225c9f.60852","name":"Pause","group":"39146c63.a01ff4","order":4,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Pause","color":"#898989","bgcolor":"#333333","icon":"fa-pause fa-2x","payload":"{\"action\":\"pause\"}","payloadType":"json","topic":"","topicType":"str","x":270,"y":720,"wires":[["a712c630.4f63c8"]]},{"id":"c7ef4d21.b1c46","type":"ui_button","z":"f1225c9f.60852","name":"Home","group":"39146c63.a01ff4","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Home","color":"#898989","bgcolor":"#333333","icon":"fa-home fa-2x","payload":"{\"action\":\"home\"}","payloadType":"json","topic":"","topicType":"str","x":270,"y":760,"wires":[["a712c630.4f63c8"]]},{"id":"6adb6c53.060b34","type":"comment","z":"f1225c9f.60852","name":"Reinigungs-Bot","info":"","x":160,"y":600,"wires":[]},{"id":"b8c4bcfc.573cd","type":"ui_button","z":"f1225c9f.60852","name":"Start","group":"39146c63.a01ff4","order":3,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Start","color":"#898989","bgcolor":"#333333","icon":"fa-play fa-2x","payload":"{\"action\":\"start\"}","payloadType":"json","topic":"","topicType":"str","x":270,"y":640,"wires":[["a712c630.4f63c8"]]},{"id":"87dc4fb2.9f588","type":"ui_button","z":"f1225c9f.60852","name":"Bad, Flur, WiZi","group":"39146c63.a01ff4","order":13,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Bad,Flur,WiZi","color":"#898989","bgcolor":"#333333","icon":"fa-superpowers fa-2x","payload":"{\"action\":\"start_segment_action\",\"segment_ids\":[\"17\", \"21\", \"22\", \"24\"]}","payloadType":"json","topic":"","topicType":"str","x":300,"y":920,"wires":[["476e333f.118f4c"]]},{"id":"5f9e6e7d.33108","type":"http request","z":"f1225c9f.60852","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://bot/api/v2/robot/capabilities/{{capability}}","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":820,"wires":[[]]},{"id":"476e333f.118f4c","type":"change","z":"f1225c9f.60852","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"},{"t":"set","p":"capability","pt":"msg","to":"MapSegmentationCapability","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["5f9e6e7d.33108"]]},{"id":"e755ee89.53a29","type":"ui_button","z":"f1225c9f.60852","name":"Eingangsbereich","group":"39146c63.a01ff4","order":9,"width":1,"height":1,"passthru":true,"label":"","tooltip":"Eingangsbereich","color":"#898989","bgcolor":"#333333","icon":"fa-superpowers fa-2x","payload":"{\"action\":\"start_segment_action\",\"segment_ids\":[\"24\"]}","payloadType":"json","topic":"","topicType":"str","x":310,"y":880,"wires":[["476e333f.118f4c"]]},{"id":"22af7142.bb340e","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":880,"wires":[["e755ee89.53a29"]]},{"id":"43832aa.e700ed4","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":920,"wires":[["87dc4fb2.9f588"]]},{"id":"aab4694a.1941a8","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":640,"wires":[["b8c4bcfc.573cd"]]},{"id":"a635d80e.3257a8","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":680,"wires":[["d35fcc96.61f71"]]},{"id":"56487ab6.3d52b4","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":720,"wires":[["840c73e0.fe7a2"]]},{"id":"da107a55.013108","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":760,"wires":[["c7ef4d21.b1c46"]]},{"id":"3e5cba53.3ca906","type":"change","z":"f1225c9f.60852","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"},{"t":"set","p":"capability","pt":"msg","to":"GoToLocationCapability","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[["5f9e6e7d.33108"]]},{"id":"118869e9.ad6d46","type":"ui_button","z":"f1225c9f.60852","name":"Wartungsposition","group":"39146c63.a01ff4","order":25,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Wartungsposition","color":"#898989","bgcolor":"#333333","icon":"fa-podcast fa-2x","payload":"{\"action\":\"goto\",\"coordinates\":{\"x\":2571,\"y\":2508}}","payloadType":"json","topic":"","topicType":"str","x":310,"y":820,"wires":[["3e5cba53.3ca906"]]},{"id":"a8ef3837.1a2e08","type":"inject","z":"f1225c9f.60852","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":820,"wires":[["118869e9.ad6d46"]]},{"id":"39146c63.a01ff4","type":"ui_group","name":"Reinigung","tab":"8b69b570.9d49f8","order":1,"disp":false,"width":"8","collapse":false},{"id":"8b69b570.9d49f8","type":"ui_tab","name":"CoHoB","icon":"dashboard","disabled":false,"hidden":false}]
