MQTT-Server auf der RaspberryMatic/flow.json
[{"id":"d2a8e466.53003","type":"mqtt out","z":"3ba3e58f.887512","name":"","topic":"","qos":"","retain":"","broker":"32d1f3e7.9f868c","x":430,"y":300,"wires":[]},{"id":"d4f4c0cd.b35d4","type":"inject","z":"3ba3e58f.887512","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/stat/test/installation","payload":"succeeded","payloadType":"str","x":190,"y":300,"wires":[["d2a8e466.53003"]]},{"id":"32883978.b2cb06","type":"debug","z":"3ba3e58f.887512","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":380,"wires":[]},{"id":"d8c30ff9.a0cca8","type":"mqtt in","z":"3ba3e58f.887512","name":"","topic":"/stat/test/installation","qos":"2","datatype":"auto","broker":"32d1f3e7.9f868c","x":150,"y":380,"wires":[["32883978.b2cb06"]]},{"id":"32d1f3e7.9f868c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
