alternative zyklische Fenster-Offen-Meldung/flow.json
[{"id":"35afbc91.ba2404","type":"subflow","name":"peripherals message","info":"","category":"","in":[{"x":120,"y":260,"wires":[{"id":"28a67fd0.b02e9"}]}],"out":[{"x":2400,"y":340,"wires":[{"id":"258fc003.6420a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"28a67fd0.b02e9","type":"function","z":"35afbc91.ba2404","name":"Listeneintrag erstellen","func":"let state = msg.payload;\nlet type = msg.type;\nlet topic = msg.topic;\n\nlet map = global.get('peripherals.states') || {};\nlet key = msg.topic + \"_\" + type;\n\nif (map[key] === undefined) {\n    map[key] = {};\n}\nmap[key].type = type;\nmap[key].name = topic;\nmap[key].state = state;\nmap[key].timestamp = new Date().toISOString();\n\nglobal.set('peripherals.states', map);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":260,"wires":[["bc9a3b13.115978"]]},{"id":"ff971af8.039b48","type":"comment","z":"35afbc91.ba2404","name":"msg.type=Fenster/Tür","info":"","x":200,"y":120,"wires":[]},{"id":"4ff27f03.7a115","type":"comment","z":"35afbc91.ba2404","name":"msg.topic=Raum-, Fenster- oder Türname","info":"","x":260,"y":160,"wires":[]},{"id":"83f02143.a5df6","type":"comment","z":"35afbc91.ba2404","name":"msg.payload=true/false - offen/geschlossen","info":"","x":260,"y":80,"wires":[]},{"id":"8bd8bfb3.177bd","type":"comment","z":"35afbc91.ba2404","name":"erstellt zyklisch einen Meldungstext, wenn msg.payload true ist","info":"","x":300,"y":40,"wires":[]},{"id":"79457837.c9adf8","type":"function","z":"35afbc91.ba2404","name":"Meldung über offene Fenster und Türen erstellen","func":"let peripheralsState = global.get('peripherals.states') || 0;\nif (peripheralsState != 0) {\n    let openWindows = \"\";\n    let openDoors = \"\";\n    let currentTime = new Date();\n    for (let key in peripheralsState) {\n        if (peripheralsState[key].state) {\n            let timeDifference = currentTime - new Date(peripheralsState[key].timestamp);\n            let timeDifferenceText = \"\";\n            if (timeDifference > 36e5) {\n                timeDifferenceText = Math.floor(timeDifference / 36e5) + \"h\";\n            } else {\n                timeDifferenceText = Math.floor(timeDifference / 6e4) + \"m\";\n            }\n\n            if (peripheralsState[key].type.match(/fenster/i)) {\n                if (openWindows.length > 0) {\n                    openWindows += \", \";\n                }\n                openWindows += peripheralsState[key].name + \" _(\" + timeDifferenceText + \")_\";\n\n            } else if (peripheralsState[key].type.match(/tür/i)) {\n                if (openDoors.length > 0) {\n                    openDoors += \", \";\n                }\n                openDoors += peripheralsState[key].name + \" _(\" + timeDifferenceText + \")_\";\n            }\n        }\n    }\n\n    let foundOpenPeripherals = false;\n    let openPeripherals = \"*offene Fenster:* \";\n    if (openWindows.length) {\n        openPeripherals += openWindows;\n        foundOpenPeripherals = true;\n    } else {\n        openPeripherals += \"-\";\n    }\n    openPeripherals += \"\\n*offene Türen:* \";\n    if (openDoors.length) {\n        openPeripherals += openDoors;\n        foundOpenPeripherals = true;\n    } else {\n        openPeripherals += \"-\";\n    }\n\n    if (foundOpenPeripherals) {\n        return {message: openPeripherals};\n    } else {\n        return {message: \"\"};\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":280,"wires":[["368bff41.28d8e"]]},{"id":"bc9a3b13.115978","type":"switch","z":"35afbc91.ba2404","name":"Fenster geöffnet?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":260,"wires":[["3a708ee6.7e3d02"],["67994207.a2f1cc"]]},{"id":"c0d19462.241d18","type":"trigger","z":"35afbc91.ba2404","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1840,"y":200,"wires":[["e9b8494c.0d2f48"]]},{"id":"3a708ee6.7e3d02","type":"switch","z":"35afbc91.ba2404","name":"Benachrichtigung schon an?","property":"peripherals.notify","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":200,"wires":[[],["4043e732.33f238"]]},{"id":"4043e732.33f238","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"peripherals.notify","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":200,"wires":[["28f8224d.1d625e"]]},{"id":"245fd2bd.b4acee","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"peripherals.notify","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":380,"wires":[[]]},{"id":"67994207.a2f1cc","type":"function","z":"35afbc91.ba2404","name":"gibt es noch offene Fenster?","func":"let peripheralsState = global.get('peripherals.states') || 0;\nif (peripheralsState != 0) {\n    for (let key in peripheralsState) {\n        if (peripheralsState[key].state) {\n            return {payload: true};\n        }\n    }\n}\nreturn {payload: false};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":320,"wires":[["18a00ab7.b4d7d5"]]},{"id":"18a00ab7.b4d7d5","type":"switch","z":"35afbc91.ba2404","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":320,"wires":[["79457837.c9adf8"],["c7b9e1c.64ec92","b4ccb6e7.bd68d8"]]},{"id":"28f8224d.1d625e","type":"switch","z":"35afbc91.ba2404","name":"Sommermodus?","property":"wetter.sommerModus","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":200,"wires":[["6f740d69.7c8674"],["c0d19462.241d18"]]},{"id":"4c3c8aca.2a18e4","type":"link in","z":"35afbc91.ba2404","name":"","links":["e9b8494c.0d2f48","63dddf8d.4ec"],"x":995,"y":260,"wires":[["79457837.c9adf8"]]},{"id":"c7b9e1c.64ec92","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"Es sind alle Fenster und Türen geschlossen.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":340,"wires":[["245fd2bd.b4acee","6f2b347b.b3beec"]]},{"id":"e9b8494c.0d2f48","type":"link out","z":"35afbc91.ba2404","name":"","links":["d928ff01.281ad","4c3c8aca.2a18e4","61d20ba5.8fc1f4"],"x":1955,"y":200,"wires":[]},{"id":"61d20ba5.8fc1f4","type":"link in","z":"35afbc91.ba2404","name":"","links":["e9b8494c.0d2f48"],"x":1295,"y":180,"wires":[["28f8224d.1d625e"]]},{"id":"6f740d69.7c8674","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"3600000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":160,"wires":[["c0d19462.241d18"]]},{"id":"b4ccb6e7.bd68d8","type":"function","z":"35afbc91.ba2404","name":"reset","func":"return {reset: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":420,"wires":[["c0d19462.241d18"]]},{"id":"6f2b347b.b3beec","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"sentMessageId","pt":"msg","to":"peripherals.sentMessageId","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":340,"wires":[["4be03e3e.e46cb"]]},{"id":"4be03e3e.e46cb","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"chatId","pt":"msg","to":"notificationReceiver.peripherals","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":340,"wires":[["258fc003.6420a"]]},{"id":"258fc003.6420a","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":340,"wires":[[]]},{"id":"368bff41.28d8e","type":"switch","z":"35afbc91.ba2404","name":"Meldung leer?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1580,"y":280,"wires":[["c0d19462.241d18"],["6f2b347b.b3beec"]]},{"id":"e6f60677.4d98a8","type":"comment","z":"35afbc91.ba2404","name":"zusätzliches Reset ist (noch) notwendig, da Subflows keine Singletons sein können","info":"","x":1970,"y":260,"wires":[]},{"id":"1dcb9f56.0c98f1","type":"subflow","name":"sendMessage","info":"","category":"","in":[{"x":60,"y":280,"wires":[{"id":"35e0c33.c06683c"}]}],"out":[{"x":1700,"y":300,"wires":[{"id":"c015a8c4.074c68","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c015a8c4.074c68","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1570,"y":300,"wires":[[]]},{"id":"7113a90f.78d288","type":"switch","z":"1dcb9f56.0c98f1","name":"","property":"sentMessageId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":280,"wires":[["291984d6.17272c"],["dae111f3.e48ba"]]},{"id":"dae111f3.e48ba","type":"function","z":"1dcb9f56.0c98f1","name":"Nachricht erstellen","func":"var content = msg.message;\n\nmsg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.options = {\n    parse_mode : \"Markdown\"\n};\nmsg.payload.content = content.toString();\nmsg.payload.type = 'message';\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":300,"wires":[["c015a8c4.074c68"]]},{"id":"99589480.be74f8","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":true,"outputs":2,"x":1130,"y":260,"wires":[["dae111f3.e48ba"],["dae111f3.e48ba"]]},{"id":"291984d6.17272c","type":"function","z":"1dcb9f56.0c98f1","name":"Löschobjekt erstellen","func":"msg.payload = {};\n\nmsg.payload.chatId = msg.chatId;\nmsg.payload.content = msg.sentMessageId;\nmsg.payload.type = 'deleteMessage';\nmsg.payload.options = {\n    message_id : msg.sentMessageId,\n    chat_id : msg.payload.chatId\n};\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":260,"wires":[["99589480.be74f8"]]},{"id":"6cf432ca.c994fc","type":"comment","z":"1dcb9f56.0c98f1","name":"Nachricht erst löschen, dann neu erstellen (wird sie nur geupdated, wird der Zeitstempel nicht aktualisiert und identische Nachrichten können nicht versendet werden)","info":"","x":650,"y":40,"wires":[]},{"id":"1719c06f.03c4a","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.chatId = Propertyname aus dem globalen Kontext (notificationReceiver.peripherals)","info":"","x":420,"y":80,"wires":[]},{"id":"7c488ee.709da7","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.sentMessageId = Nachrichten-ID der letzten (zugehörigen) Nachricht, die ersetzt werden soll","info":"","x":450,"y":120,"wires":[]},{"id":"56fd0e66.a48f2","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.message = Text-Nachricht, die gesendet werden soll, Markdown möglich","info":"","x":390,"y":160,"wires":[]},{"id":"773a7f9f.0ee99","type":"catch","z":"1dcb9f56.0c98f1","name":"","scope":["99589480.be74f8","c015a8c4.074c68"],"uncaught":false,"x":840,"y":400,"wires":[["b12e415f.b316e"]]},{"id":"b12e415f.b316e","type":"debug","z":"1dcb9f56.0c98f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1030,"y":400,"wires":[]},{"id":"2505426d.83176e","type":"switch","z":"1dcb9f56.0c98f1","name":"ChatId gesetzt?","property":"chatId","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":280,"wires":[["7113a90f.78d288"]]},{"id":"35e0c33.c06683c","type":"function","z":"1dcb9f56.0c98f1","name":"ChatId auslesen, wenn es ein String ist","func":"switch (typeof msg.chatId) {\n    case 'string':\n        msg.chatId = global.get(msg.chatId);\n        break;\n}\n\nif (msg.chatId !== undefined) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":280,"wires":[["2505426d.83176e"]]},{"id":"9f8849b1.87eb98","type":"subflow","name":"Fenstermeldung","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"92ed4931.266668"}]}],"out":[{"x":1100,"y":180,"wires":[{"id":"19d9976c.92d439","port":0}]}],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-flag-o"},{"id":"3e12b440.4b875c","type":"subflow:1dcb9f56.0c98f1","z":"9f8849b1.87eb98","name":"","env":[],"x":580,"y":180,"wires":[["19d9976c.92d439"]]},{"id":"92ed4931.266668","type":"subflow:35afbc91.ba2404","z":"9f8849b1.87eb98","name":"","env":[],"x":360,"y":180,"wires":[["3e12b440.4b875c"]]},{"id":"19d9976c.92d439","type":"change","z":"9f8849b1.87eb98","name":"","rules":[{"t":"set","p":"peripherals.sentMessageId","pt":"global","to":"payload.sentMessageId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":180,"wires":[[]]},{"id":"b6b714a5.068178","type":"change","z":"701269f.a6c3e98","name":"Meldungsdaten festlegen","rules":[{"t":"set","p":"topic","pt":"msg","to":"Testzimmer","tot":"str"},{"t":"set","p":"type","pt":"msg","to":"Fenster","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["3be09879.31ed28"]]},{"id":"3be09879.31ed28","type":"subflow:9f8849b1.87eb98","z":"701269f.a6c3e98","name":"","env":[],"x":800,"y":340,"wires":[[]]},{"id":"4de28faf.19f51","type":"inject","z":"701269f.a6c3e98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":320,"wires":[["b6b714a5.068178"]]},{"id":"87d94b09.823218","type":"inject","z":"701269f.a6c3e98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":330,"y":360,"wires":[["b6b714a5.068178"]]},{"id":"99a4edbb.85cfc","type":"change","z":"701269f.a6c3e98","name":"","rules":[{"t":"set","p":"notificationReceiver.peripherals","pt":"global","to":"1782908273","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[[]]},{"id":"9a697d4e.355be","type":"inject","z":"701269f.a6c3e98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":200,"wires":[["99a4edbb.85cfc"]]},{"id":"f2161fc0.a9c92","type":"comment","z":"701269f.a6c3e98","name":"Zuerst die Ziel-ChatId setzen","info":"","x":280,"y":160,"wires":[]},{"id":"11e57b3d.271e85","type":"comment","z":"701269f.a6c3e98","name":"Nach Konfiguration der beiden Telegram-Nodes im \"sendMessage\"-SubFlow kann der Test erfolgen","info":"","x":500,"y":280,"wires":[]}]
