WLAN-Praesenzerkennung/flow.json
[
    {
        "id": "f7bce6c8.20aa68",
        "type": "comment",
        "z": "d542a1ed.49423",
        "name": "Präsenz-Ermittlung",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef9319da.465608",
        "type": "mqtt in",
        "z": "d542a1ed.49423",
        "name": "Bewohner 1",
        "topic": "owrtwifi/status/mac-11-11-11-11-11-11/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "c318ab9d.e1e7b8",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "22b9344e.a5061c"
            ]
        ]
    },
    {
        "id": "72d135b9.c7768c",
        "type": "link out",
        "z": "d542a1ed.49423",
        "name": "presence.chrissy",
        "links": [
            "c1fe6859.148288"
        ],
        "x": 575,
        "y": 160,
        "wires": []
    },
    {
        "id": "1e7c014c.5d59bf",
        "type": "trigger",
        "z": "d542a1ed.49423",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "4c48f7fc.f669c8"
            ]
        ]
    },
    {
        "id": "a47e3e42.4c35d",
        "type": "switch",
        "z": "d542a1ed.49423",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "35ad9583.f92aea"
            ],
            [
                "1e7c014c.5d59bf",
                "6ea3430c.4de3bc"
            ]
        ]
    },
    {
        "id": "4c48f7fc.f669c8",
        "type": "change",
        "z": "d542a1ed.49423",
        "name": "länger abwesend",
        "rules": [
            {
                "t": "set",
                "p": "#:(memory)::residents.longAway",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "198e3a7f.7c2d36"
            ]
        ]
    },
    {
        "id": "35ad9583.f92aea",
        "type": "change",
        "z": "d542a1ed.49423",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "4c48f7fc.f669c8",
                "1e7c014c.5d59bf",
                "6ea3430c.4de3bc",
                "b5867949.3d2f18"
            ]
        ]
    },
    {
        "id": "198e3a7f.7c2d36",
        "type": "link out",
        "z": "d542a1ed.49423",
        "name": "longAway",
        "links": [
            "9d3be86f.00b5e8"
        ],
        "x": 1395,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ea3430c.4de3bc",
        "type": "trigger",
        "z": "d542a1ed.49423",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "b5867949.3d2f18"
            ]
        ]
    },
    {
        "id": "9b664988.a003f8",
        "type": "link out",
        "z": "d542a1ed.49423",
        "name": "presence.chrissy",
        "links": [
            "529639b0.92dba8",
            "f0d35bc5.1586a8"
        ],
        "x": 1395,
        "y": 220,
        "wires": []
    },
    {
        "id": "817dac74.dccee",
        "type": "mqtt in",
        "z": "d542a1ed.49423",
        "name": "Bewohner 2",
        "topic": "owrtwifi/status/mac-22-22-22-22-22-22/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "c318ab9d.e1e7b8",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "719ce8dc.9f0d28"
            ]
        ]
    },
    {
        "id": "5763b981.41b0a8",
        "type": "link out",
        "z": "d542a1ed.49423",
        "name": "",
        "links": [
            "4b3064d1.876dfc"
        ],
        "x": 575,
        "y": 240,
        "wires": []
    },
    {
        "id": "b5867949.3d2f18",
        "type": "change",
        "z": "d542a1ed.49423",
        "name": "abwesend",
        "rules": [
            {
                "t": "set",
                "p": "residents.away",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "9b664988.a003f8"
            ]
        ]
    },
    {
        "id": "22b9344e.a5061c",
        "type": "change",
        "z": "d542a1ed.49423",
        "name": "Status mappen und speichern",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "new",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "del",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "residents.presence.bewohner1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "93d6f1c3.171b8",
                "72d135b9.c7768c"
            ]
        ]
    },
    {
        "id": "719ce8dc.9f0d28",
        "type": "change",
        "z": "d542a1ed.49423",
        "name": "Status mappen und speichern",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "new",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "del",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "residents.presence.bewohner2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "93d6f1c3.171b8",
                "5763b981.41b0a8"
            ]
        ]
    },
    {
        "id": "93d6f1c3.171b8",
        "type": "function",
        "z": "d542a1ed.49423",
        "name": "jmd zu Hause?",
        "func": "let presences = global.get(\"residents.presence\", \"memory\") || 0;\nlet someoneIsAtHome = false;\nif (presences != 0) {\n    for (let key in presences) {\n        if (presences[key]) {\n            someoneIsAtHome = true;\n            break;\n        }\n    }\n}\n\nreturn {payload: someoneIsAtHome}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "a47e3e42.4c35d"
            ]
        ]
    },
    {
        "id": "c318ab9d.e1e7b8",
        "type": "mqtt-broker",
        "name": "MQTT-Broker",
        "broker": "192.168.1.13",
        "port": "1883",
        "clientid": "cohob",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]

