Aqara ZigBee-Sensor mit Homematic IP-Thermostat nutzen/flow.json
[{"id":"7d218866.be50c8","type":"subflow","name":"to bool","info":"","category":"","in":[{"x":200,"y":100,"wires":[{"id":"17f5f2d4.827d3d"}]}],"out":[{"x":440,"y":100,"wires":[{"id":"17f5f2d4.827d3d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"17f5f2d4.827d3d","type":"function","z":"7d218866.be50c8","name":"","func":"var payload = msg.payload || 0;\nmsg.payload = false;\n\nswitch (typeof payload) {\n    case 'number':\n        switch (payload) {\n            case 1:\n            case 2:\n                msg.payload = true;\n                break;\n        }\n        break;\n    case 'string':\n        switch (payload.toLowerCase()) {\n            case \"on\":\n            case \"true\":\n                msg.payload = true;\n                break;\n        }\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[[]]},{"id":"d21d4f79.d0c2b","type":"comment","z":"7d218866.be50c8","name":"converts case insensitive \"on\", \"true\", 1 and 2 to true","info":"","x":330,"y":40,"wires":[],"icon":"node-red-contrib-combine/logic.png"},{"id":"1e5f4116.41435f","type":"subflow","name":"aqara value","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"d402d166.0022d"}]}],"out":[{"x":680,"y":80,"wires":[{"id":"74c77efc.4e447","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red-dashboard/ui_switch.png"},{"id":"d402d166.0022d","type":"function","z":"1e5f4116.41435f","name":"get only onOff parameter if different to last state","func":"if (msg.cluster === \"genOnOff\") {\n    return {payload: msg.payload}\n\n} else if (msg.cluster === \"genMultistateInput\") {\n    return {endpoint: msg.endpoint, payload: msg.payload.presentValue}\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":80,"wires":[["74c77efc.4e447"]]},{"id":"74c77efc.4e447","type":"subflow:7d218866.be50c8","z":"1e5f4116.41435f","name":"","x":570,"y":80,"wires":[[]]},{"id":"5f76632b.9bdb1c","type":"zigbee-event","z":"3ba3e58f.887512","shepherd":"","name":"Fensterkontakt","device":"","events":["attributeReport","command"],"topic":"zigbee/${ieeeAddr}/${type}/${endpoint}/${cluster}/genOnOff/onOff","payload":"plain","x":140,"y":500,"wires":[["97b76645.0e90b8"]]},{"id":"294fa8b3.64f4a8","type":"ui_switch","z":"3ba3e58f.887512","name":"","label":"Fenster","tooltip":"","group":"","order":13,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock fa-2x","oncolor":"#097479","offvalue":"false","offvalueType":"bool","officon":"fa-lock fa-2x","offcolor":"#898989","x":520,"y":440,"wires":[[]]},{"id":"ee97bd65.488f4","type":"mqtt out","z":"3ba3e58f.887512","name":"","topic":"stat/dg/kizi/fenster","qos":"","retain":"","broker":"","x":710,"y":560,"wires":[]},{"id":"c268700b.9da3a","type":"ccu-value","z":"3ba3e58f.887512","name":"","iface":"","channel":"","datapoint":"","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":510,"y":500,"wires":[[]]},{"id":"5fee88e6.c2b8f8","type":"function","z":"3ba3e58f.887512","name":"negieren","func":"msg.payload = !msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":560,"wires":[["ee97bd65.488f4"]]},{"id":"97b76645.0e90b8","type":"subflow:1e5f4116.41435f","z":"3ba3e58f.887512","name":"","env":[],"x":330,"y":500,"wires":[["c268700b.9da3a","294fa8b3.64f4a8","5fee88e6.c2b8f8"]]}]
