Aqara ZigBee-Sensor mit Homematic IP-Thermostat nutzen/flow.json
[{"id":"5f76632b.9bdb1c","type":"zigbee-event","z":"b221a5ac.7afa2","shepherd":"1a11262.477e7da","name":"Fensterkontakt","device":"0x00158d00022da6e5","events":["attributeReport","command"],"topic":"zigbee/${ieeeAddr}/${type}/${endpoint}/${cluster}/genOnOff/onOff","payload":"plain","x":220,"y":2400,"wires":[["d575fc92.111f5"]]},{"id":"54b1adf.5ed0c54","type":"function","z":"b221a5ac.7afa2","name":"auf bool wandeln","func":"msg.payload = msg.payload === 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":2400,"wires":[["294fa8b3.64f4a8","c268700b.9da3a","5fee88e6.c2b8f8"]]},{"id":"294fa8b3.64f4a8","type":"ui_switch","z":"b221a5ac.7afa2","name":"","label":"Fenster","tooltip":"","group":"85d84547.d90658","order":13,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock fa-2x","oncolor":"#097479","offvalue":"false","offvalueType":"bool","officon":"fa-lock fa-2x","offcolor":"#898989","x":1100,"y":2340,"wires":[[]]},{"id":"ee97bd65.488f4","type":"mqtt out","z":"b221a5ac.7afa2","name":"","topic":"stat/dg/kizi/fenster","qos":"","retain":"","broker":"c318ab9d.e1e7b8","x":1290,"y":2460,"wires":[]},{"id":"c268700b.9da3a","type":"ccu-value","z":"b221a5ac.7afa2","name":"","iface":"HmIP-RF","channel":"000A9A49A6AE9A:1 dg_kizi_thermostat:1","datapoint":"WINDOW_STATE","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":1170,"y":2400,"wires":[[]]},{"id":"5fee88e6.c2b8f8","type":"function","z":"b221a5ac.7afa2","name":"negieren","func":"msg.payload = !msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":2460,"wires":[["ee97bd65.488f4"]]},{"id":"d575fc92.111f5","type":"change","z":"b221a5ac.7afa2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2400,"wires":[["93bf9432.b58ad8"]]},{"id":"93bf9432.b58ad8","type":"switch","z":"b221a5ac.7afa2","name":"nur onOff auswerten","property":"data.onOff","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2400,"wires":[["54b1adf.5ed0c54"]]},{"id":"1a11262.477e7da","type":"zigbee-shepherd","name":"zigbee herdsman","path":"/dev/ttyACM0","baudRate":"115200","rtscts":true,"channelList":[11],"led":"disabled","adapter":"zstack"},{"id":"85d84547.d90658","type":"ui_group","name":"Kinderzimmer","tab":"c99e18a4.a4f638","order":2,"disp":true,"width":8,"collapse":false},{"id":"c318ab9d.e1e7b8","type":"mqtt-broker","name":"Volker","broker":"Volker","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":true,"cuxdEnabled":true,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","queueTimeout":"5000","queuePause":"250","contextStore":"default"},{"id":"c99e18a4.a4f638","type":"ui_tab","name":"Dachgeschoﬂ","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
