Aqara ZigBee-Sensor mit Homematic IP-Thermostat nutzen/flow.json
[{"id":"5f76632b.9bdb1c","type":"zigbee-event","z":"3ba3e58f.887512","shepherd":"","name":"Fensterkontakt","device":"","events":["attributeReport","command"],"topic":"zigbee/${ieeeAddr}/${type}/${endpoint}/${cluster}/genOnOff/onOff","payload":"plain","x":120,"y":500,"wires":[["d575fc92.111f5"]]},{"id":"54b1adf.5ed0c54","type":"function","z":"3ba3e58f.887512","name":"auf bool wandeln","func":"msg.payload = msg.payload === 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[["294fa8b3.64f4a8","c268700b.9da3a","5fee88e6.c2b8f8"]]},{"id":"294fa8b3.64f4a8","type":"ui_switch","z":"3ba3e58f.887512","name":"","label":"Fenster","tooltip":"","group":"","order":13,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock fa-2x","oncolor":"#097479","offvalue":"false","offvalueType":"bool","officon":"fa-lock fa-2x","offcolor":"#898989","x":1000,"y":440,"wires":[[]]},{"id":"ee97bd65.488f4","type":"mqtt out","z":"3ba3e58f.887512","name":"","topic":"stat/dg/kizi/fenster","qos":"","retain":"","broker":"","x":1190,"y":560,"wires":[]},{"id":"c268700b.9da3a","type":"ccu-value","z":"3ba3e58f.887512","name":"","iface":"","channel":"","datapoint":"","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":990,"y":500,"wires":[[]]},{"id":"5fee88e6.c2b8f8","type":"function","z":"3ba3e58f.887512","name":"negieren","func":"msg.payload = !msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":560,"wires":[["ee97bd65.488f4"]]},{"id":"d575fc92.111f5","type":"change","z":"3ba3e58f.887512","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["93bf9432.b58ad8"]]},{"id":"93bf9432.b58ad8","type":"switch","z":"3ba3e58f.887512","name":"nur onOff auswerten","property":"data.onOff","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":500,"wires":[["54b1adf.5ed0c54"]]}]
