Ausgaben mit einem Subflow nach Bool wandeln/flow.json
[{"id":"7d218866.be50c8","type":"subflow","name":"to bool","info":"","category":"","in":[{"x":200,"y":100,"wires":[{"id":"17f5f2d4.827d3d"}]}],"out":[{"x":440,"y":100,"wires":[{"id":"17f5f2d4.827d3d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"17f5f2d4.827d3d","type":"function","z":"7d218866.be50c8","name":"zu bool","func":"var payload = msg.payload || 0;\nmsg.payload = false;\n\nswitch (typeof payload) {\n    case 'number':\n        switch (payload) {\n            case 1:\n            case 2:\n                msg.payload = true;\n                break;\n        }\n        break;\n    case 'string':\n        switch (payload.toLowerCase()) {\n            case \"on\":\n            case \"true\":\n                msg.payload = true;\n                break;\n        }\n        break;\n    default: msg.payload = payload;\n}\n\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[[]]},{"id":"d21d4f79.d0c2b","type":"comment","z":"7d218866.be50c8","name":"converts case insensitive \"on\", \"true\", 1 and 2 to true","info":"","x":330,"y":40,"wires":[],"icon":"node-red-contrib-combine/logic.png"}]
