zyklische Fenster-Offen-Meldung/flow.json
[{"id":"35afbc91.ba2404","type":"subflow","name":"peripherals message","info":"","category":"","in":[{"x":120,"y":260,"wires":[{"id":"6fd51580.1b62fc"}]}],"out":[{"x":1600,"y":260,"wires":[{"id":"50642cb6.356b94","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"50642cb6.356b94","type":"change","z":"35afbc91.ba2404","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":260,"wires":[[]]},{"id":"ff971af8.039b48","type":"comment","z":"35afbc91.ba2404","name":"msg.type=Fenster/Tür","info":"","x":200,"y":120,"wires":[]},{"id":"4ff27f03.7a115","type":"comment","z":"35afbc91.ba2404","name":"msg.topic=Raum-, Fenster- oder Türname","info":"","x":260,"y":160,"wires":[]},{"id":"83f02143.a5df6","type":"comment","z":"35afbc91.ba2404","name":"msg.payload=true/false - offen/geschlossen","info":"","x":260,"y":80,"wires":[]},{"id":"8bd8bfb3.177bd","type":"comment","z":"35afbc91.ba2404","name":"erstellt zyklisch einen Meldungstext, wenn msg.payload true ist","info":"","x":300,"y":40,"wires":[]},{"id":"6fd51580.1b62fc","type":"function","z":"35afbc91.ba2404","name":"Listeneintrag erstellen","func":"let state = msg.payload;\nlet type = msg.type;\n\nlet map = global.get('peripheralsState') || {};\nlet key = msg.topic + \"_\" + type;\n\nif (map[key] === undefined) {\n    map[key] = {};\n}\nmap[key].state = state;\nmap[key].type = type;\nmap[key].timestamp = new Date().toString();\n\n// stop timer\nif (msg.payload === false) {\n    msg.reset = true;\n} else {\n    map[key].count = 0;\n}\n\n\nglobal.set('peripheralsState', map);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":260,"wires":[["d1e212e6.0741d","b00ec1ce.f276e"]]},{"id":"d1e212e6.0741d","type":"trigger","z":"35afbc91.ba2404","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":260,"wires":[["86bdba71.8f07c8"]]},{"id":"86bdba71.8f07c8","type":"function","z":"35afbc91.ba2404","name":"Counter erhöhen und Nachricht erstellen","func":"let map = global.get('peripheralsState') || {};\nlet type = msg.type;\nlet topic = msg.topic;\nlet key = topic + \"_\" + type;\n\nif (map[key].hasOwnProperty(\"count\")) {\n    let count = map[key].count + 1;\n    map[key].count = count;\n    global.set('peripheralsState', map);\n\n    // build message string    \n    let still = \"\";\n    if (count > 1) {\n        still = \"immer \";\n    }\n    let minutes = 10 * count;\n    msg.message = map[key].type + \" im \" + topic + \" ist \" + still + \"noch offen.\\nGeöffnet vor \" + minutes + \"min. Aktuelle Außentemperatur: \" + \"\" +\"°C.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":260,"wires":[["d1e212e6.0741d","51202fce.0c9f1"]]},{"id":"b00ec1ce.f276e","type":"switch","z":"35afbc91.ba2404","name":"geschlossen?","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":320,"wires":[["7806a63.5e94e58"]]},{"id":"7806a63.5e94e58","type":"function","z":"35afbc91.ba2404","name":"geschlossen-Nachricht erstellen","func":"let map = global.get('peripheralsState') || {};\nlet type = msg.type;\nlet key = msg.topic + \"_\" + type;\n\n\n\nif (map[key].hasOwnProperty(\"count\")) {\n    if (map[key].count > 0) {\n        msg.message = msg.type + \" im \" + msg.topic + \" wurde geschlossen.\";\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":320,"wires":[["51202fce.0c9f1"]]},{"id":"51202fce.0c9f1","type":"function","z":"35afbc91.ba2404","name":"Letzte Nachricht in das Msg-Objekt schreiben","func":"let map = global.get('peripheralsState') || {};\nlet type = msg.type;\nlet key = msg.topic + \"_\" + type;\n\nif (map[key].hasOwnProperty(\"sentMessageId\")) {\n    msg.sentMessageId = map[key].sentMessageId;\n    delete map[key].sentMessageId;\n    global.set('peripheralsState', map);\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":260,"wires":[["50642cb6.356b94"]]},{"id":"1dcb9f56.0c98f1","type":"subflow","name":"sendMessage","info":"","category":"","in":[{"x":160,"y":280,"wires":[{"id":"7113a90f.78d288"}]}],"out":[{"x":1200,"y":300,"wires":[{"id":"c015a8c4.074c68","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c015a8c4.074c68","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1070,"y":300,"wires":[[]]},{"id":"7113a90f.78d288","type":"switch","z":"1dcb9f56.0c98f1","name":"","property":"sentMessageId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["291984d6.17272c"],["dae111f3.e48ba"]]},{"id":"dae111f3.e48ba","type":"function","z":"1dcb9f56.0c98f1","name":"Nachricht erstellen","func":"var content = msg.message;\n\nmsg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.options = {\n    parse_mode : \"Markdown\"\n};\nmsg.payload.content = content.toString();\nmsg.payload.type = 'message';\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":300,"wires":[["c015a8c4.074c68"]]},{"id":"99589480.be74f8","type":"telegram sender","z":"1dcb9f56.0c98f1","name":"","bot":"","haserroroutput":true,"outputs":2,"x":650,"y":260,"wires":[["dae111f3.e48ba"],["dae111f3.e48ba"]]},{"id":"291984d6.17272c","type":"function","z":"1dcb9f56.0c98f1","name":"Löschobjekt erstellen","func":"msg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.content = msg.sentMessageId;\nmsg.payload.type = 'deleteMessage';\nmsg.payload.options = {\n    message_id : msg.sentMessageId,\n    chat_id : msg.payload.chatId\n};\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["99589480.be74f8"]]},{"id":"6cf432ca.c994fc","type":"comment","z":"1dcb9f56.0c98f1","name":"Nachricht erst löschen, dann neu erstellen (wird sie nur geupdated, wird der Zeitstempel nicht aktualisiert und identische Nachrichten können nicht versendet werden)","info":"","x":650,"y":40,"wires":[]},{"id":"1719c06f.03c4a","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.chatId = ID des Chats, wohin die Nachricht gepostet werden soll","info":"","x":360,"y":80,"wires":[]},{"id":"7c488ee.709da7","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.sentMessageId = Nachrichten-ID der letzten (zugehörigen) Nachricht, die ersetzt werden soll","info":"","x":450,"y":120,"wires":[]},{"id":"56fd0e66.a48f2","type":"comment","z":"1dcb9f56.0c98f1","name":"msg.message = Text-Nachricht, die gesendet werden soll, Markdown möglich","info":"","x":390,"y":160,"wires":[]},{"id":"9f8849b1.87eb98","type":"subflow","name":"Fenstermeldung","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"92ed4931.266668"}]}],"out":[],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-flag-o"},{"id":"3e12b440.4b875c","type":"subflow:1dcb9f56.0c98f1","z":"9f8849b1.87eb98","name":"","env":[],"x":580,"y":180,"wires":[["7604b3b6.802d0c"]]},{"id":"92ed4931.266668","type":"subflow:35afbc91.ba2404","z":"9f8849b1.87eb98","name":"","env":[],"x":360,"y":180,"wires":[["3e12b440.4b875c"]]},{"id":"7604b3b6.802d0c","type":"function","z":"9f8849b1.87eb98","name":"save sentMsgId","func":"let map = global.get('peripheralsState') || {};\nlet key = msg.topic + \"_\" + msg.type;\n\nmap[key].sentMessageId = msg.payload.sentMessageId;\nglobal.set('peripheralsState', map);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[[]]},{"id":"b6b714a5.068178","type":"change","z":"3ba3e58f.887512","name":"Chatdaten festlegen","rules":[{"t":"set","p":"topic","pt":"msg","to":"Arbeitszimmer","tot":"str"},{"t":"set","p":"type","pt":"msg","to":"Fenster","tot":"str"},{"t":"set","p":"chatId","pt":"msg","to":"<hier deine ChatId eintragen>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":180,"wires":[["3be09879.31ed28"]]},{"id":"3be09879.31ed28","type":"subflow:9f8849b1.87eb98","z":"3ba3e58f.887512","name":"","env":[],"x":720,"y":180,"wires":[]},{"id":"9cc51283.de5e1","type":"inject","z":"3ba3e58f.887512","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":270,"y":140,"wires":[["b6b714a5.068178"]]},{"id":"2180e6ac.42740a","type":"inject","z":"3ba3e58f.887512","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":270,"y":220,"wires":[["b6b714a5.068178"]]}]
