Subflow Heizprofil einstellen/flow.json
[{"id":"2fa3e06f.6fe44","type":"subflow","name":"Heizprofilauswahl","info":"","category":"","in":[{"x":320,"y":600,"wires":[{"id":"3383861f.4d1f8a"}]}],"out":[{"x":1320,"y":500,"wires":[{"id":"674ac66f.89ccd8","port":0},{"id":"b0d9ea66.06eb48","port":0},{"id":"98537835.70af58","port":0},{"id":"fa63f25.725b21","port":0},{"id":"a2e3edf8.431d5","port":0},{"id":"56b6fee9.05e01","port":0},{"id":"51498a0.4470e78","port":0},{"id":"7a97568a.392878","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red-dashboard/ui_slider.png"},{"id":"78e6fcba.dcbd14","type":"switch","z":"2fa3e06f.6fe44","name":"Profilauswahl","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"party","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":500,"wires":[["98537835.70af58","674ac66f.89ccd8"],["98537835.70af58","b0d9ea66.06eb48"],["98537835.70af58","fa63f25.725b21"],["a2e3edf8.431d5","56b6fee9.05e01","51498a0.4470e78"]]},{"id":"674ac66f.89ccd8","type":"change","z":"2fa3e06f.6fe44","name":"Profil 1: work","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"ACTIVE_PROFILE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":380,"wires":[[]]},{"id":"98537835.70af58","type":"change","z":"2fa3e06f.6fe44","name":"Automatik","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"CONTROL_MODE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":500,"wires":[[]]},{"id":"b0d9ea66.06eb48","type":"change","z":"2fa3e06f.6fe44","name":"Profil 2: home","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"ACTIVE_PROFILE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":420,"wires":[[]]},{"id":"fa63f25.725b21","type":"change","z":"2fa3e06f.6fe44","name":"Profil 3: party","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"ACTIVE_PROFILE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":460,"wires":[[]]},{"id":"56b6fee9.05e01","type":"change","z":"2fa3e06f.6fe44","name":"Manuell","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"CONTROL_MODE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":600,"wires":[[]]},{"id":"a2e3edf8.431d5","type":"change","z":"2fa3e06f.6fe44","name":"Profil 1: work","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"ACTIVE_PROFILE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":560,"wires":[[]]},{"id":"4e9a53b3.54435c","type":"comment","z":"2fa3e06f.6fe44","name":"off","info":"","x":850,"y":600,"wires":[]},{"id":"51498a0.4470e78","type":"change","z":"2fa3e06f.6fe44","name":"Temperatur 4.5°C","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"SET_POINT_TEMPERATURE","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"4.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":640,"wires":[[]]},{"id":"7a97568a.392878","type":"change","z":"2fa3e06f.6fe44","name":"Temperatur","rules":[{"t":"set","p":"datapoint","pt":"msg","to":"SET_POINT_TEMPERATURE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":700,"wires":[[]]},{"id":"3383861f.4d1f8a","type":"switch","z":"2fa3e06f.6fe44","name":"Unterscheidung nach Topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"profile","vt":"str"},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":600,"wires":[["78e6fcba.dcbd14"],["c69c50a6.41dd3"]]},{"id":"c69c50a6.41dd3","type":"no-op","z":"2fa3e06f.6fe44","name":"","x":750,"y":700,"wires":[["7a97568a.392878"]]},{"id":"d9e49177.98162","type":"link in","z":"f1225c9f.60852","name":"","links":["cbeba1ff.5862a"],"x":355,"y":1440,"wires":[["a35b95b1.6fb2d8"]]},{"id":"fcc6da84.874e68","type":"ccu-value","z":"f1225c9f.60852","name":"","iface":"HmIP-RF","channel":"","datapoint":"","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":910,"y":1440,"wires":[[]]},{"id":"52bf65d7.669dcc","type":"subflow:2fa3e06f.6fe44","z":"f1225c9f.60852","name":"","env":[],"x":730,"y":1440,"wires":[["fcc6da84.874e68"]]},{"id":"5988a3bc.ed1bcc","type":"ui_button","z":"f1225c9f.60852","name":"kühler","group":"c4e0b5b9.a36738","order":5,"width":1,"height":1,"passthru":true,"label":"","tooltip":"18°C","color":"#5050bb","bgcolor":"#333333","icon":"fa-thermometer-half fa-2x","payload":"18","payloadType":"num","topic":"temperature","topicType":"str","x":510,"y":1440,"wires":[["52bf65d7.669dcc"]]},{"id":"5e1cfd87.3c1144","type":"ui_button","z":"f1225c9f.60852","name":"wärmer","group":"c4e0b5b9.a36738","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"23°C","color":"#bb5050","bgcolor":"#333333","icon":"fa-thermometer-full fa-2x","payload":"23","payloadType":"num","topic":"temperature","topicType":"str","x":500,"y":1480,"wires":[["52bf65d7.669dcc"]]},{"id":"f07d826e.ec674","type":"inject","z":"f1225c9f.60852","name":"Beim Start das letzte Profil laden","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"heizungsProfil","payloadType":"flow","x":240,"y":1380,"wires":[["a35b95b1.6fb2d8"]]},{"id":"a35b95b1.6fb2d8","type":"ui_dropdown","z":"f1225c9f.60852","name":"","label":"","tooltip":"","place":"Select option","group":"c4e0b5b9.a36738","order":4,"width":2,"height":1,"passthru":true,"multiple":false,"options":[{"label":"zu Hause","value":"home","type":"str"},{"label":"Arbeit","value":"work","type":"str"},{"label":"Party","value":"party","type":"str"},{"label":"Aus","value":"off","type":"str"}],"payload":"","topic":"profile","topicType":"str","x":500,"y":1380,"wires":[["52bf65d7.669dcc","2640bae7.2adfe6"]]},{"id":"2640bae7.2adfe6","type":"change","z":"f1225c9f.60852","name":"Profil sichern","rules":[{"t":"set","p":"heizungsProfil","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1380,"wires":[[]]},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]
