Betrieb des Präsenzmelders EPV 24V an einem Homematic Wired I-O-Modul/flow.json
[{"id":"838190fc.a4da5","type":"ccu-rpc-event","z":"b221a5ac.7afa2","name":"Präsenz","iface":"BidCos-Wired","ccuConfig":"38263145.35ea0e","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"dg_io2","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"dg_flur_praesenz:15","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"STATE","datapointRx":"str","change":false,"working":false,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":180,"y":2860,"wires":[["64426b55.3c30a4"]]},{"id":"ca517978.c89bb8","type":"ccu-rpc-event","z":"b221a5ac.7afa2","name":"Helligkeit","iface":"BidCos-Wired","ccuConfig":"38263145.35ea0e","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"dg_io2","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"dg_flur_helligkeit:21","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"VALUE","datapointRx":"str","change":true,"working":false,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":180,"y":2960,"wires":[["27be2387.3f142c"]]},{"id":"d212e8a.d6a6718","type":"combine-logic","z":"b221a5ac.7afa2","name":"","topic":"","operator":"and","defer":"10","timeout":0,"distinction":"topic","x":740,"y":2900,"wires":[["b0975da3.c15ff"]]},{"id":"e9ac165d.ce9808","type":"comment","z":"b221a5ac.7afa2","name":"Präsenzmelder","info":"","x":180,"y":2920,"wires":[]},{"id":"27be2387.3f142c","type":"function","z":"b221a5ac.7afa2","name":"Helligkeit auswerten","func":"msg.payload = msg.payload>950;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2960,"wires":[["6cf09287.d18f7c"]]},{"id":"64426b55.3c30a4","type":"function","z":"b221a5ac.7afa2","name":"negieren","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2860,"wires":[["afd97c96.abdeb","80b6b987.14eaa8","8e4c7445.dee828"]]},{"id":"80b6b987.14eaa8","type":"switch","z":"b221a5ac.7afa2","name":"Flurlicht noch an?","property":"#:(memory)::flur.licht","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":2820,"wires":[["e5b59426.93abd8"]]},{"id":"afd97c96.abdeb","type":"change","z":"b221a5ac.7afa2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"praesenz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2860,"wires":[["d212e8a.d6a6718"]]},{"id":"6cf09287.d18f7c","type":"change","z":"b221a5ac.7afa2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"helligkeit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2960,"wires":[["d212e8a.d6a6718"]]},{"id":"b0975da3.c15ff","type":"switch","z":"b221a5ac.7afa2","name":"nur true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":2900,"wires":[["e5b59426.93abd8"]]},{"id":"e5b59426.93abd8","type":"function","z":"b221a5ac.7afa2","name":"text2bool","func":"\nreturn {payload: msg.payload = \"true\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":2820,"wires":[["f1f23de2.28c05"]]},{"id":"a9fe51fa.0f675","type":"switch","z":"b221a5ac.7afa2","name":"Präsenz?","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":3080,"wires":[["9f39de4c.47eab","ed33bd15.0e42b"]]},{"id":"86b89f96.603fe","type":"ccu-get-value","z":"b221a5ac.7afa2","name":"Präsenz","ccuConfig":"38263145.35ea0e","iface":"BidCos-Wired","channel":"OEQ0853514:15 dg_flur_praesenz:15","sysvar":"Alarmmeldungen","sysvarProperty":"value","datapoint":"STATE","datapointProperty":"value","setProp":"payload","setPropType":"msg","x":580,"y":3080,"wires":[["a9fe51fa.0f675"]]},{"id":"ba7d7f2a.bcd","type":"switch","z":"b221a5ac.7afa2","name":"Präsenz?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":3080,"wires":[["ed33bd15.0e42b"]]},{"id":"8909776c.1009b8","type":"link in","z":"b221a5ac.7afa2","name":"","links":["8e4c7445.dee828"],"x":155,"y":3080,"wires":[["ba7d7f2a.bcd"]]},{"id":"33c36602.3b2c4a","type":"link in","z":"b221a5ac.7afa2","name":"","links":["9f39de4c.47eab"],"x":215,"y":2820,"wires":[["64426b55.3c30a4"]]},{"id":"9f39de4c.47eab","type":"link out","z":"b221a5ac.7afa2","name":"","links":["33c36602.3b2c4a"],"x":835,"y":3080,"wires":[]},{"id":"8e4c7445.dee828","type":"link out","z":"b221a5ac.7afa2","name":"","links":["8909776c.1009b8"],"x":475,"y":2900,"wires":[]},{"id":"e90241f1.06c48","type":"comment","z":"b221a5ac.7afa2","name":"nachtriggern","info":"","x":190,"y":3040,"wires":[]},{"id":"ed33bd15.0e42b","type":"trigger","z":"b221a5ac.7afa2","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":3080,"wires":[["86b89f96.603fe"]]},{"id":"6fc4a0d8.7af78","type":"ccu-value","z":"b221a5ac.7afa2","name":"","iface":"BidCos-Wired","channel":"NEQ1513861:17 dg_flur_licht:17","datapoint":"STATE","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":1220,"y":2820,"wires":[[]]},{"id":"f1f23de2.28c05","type":"trigger","z":"b221a5ac.7afa2","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1030,"y":2820,"wires":[["6fc4a0d8.7af78"]]},{"id":"38263145.35ea0e","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":true,"cuxdEnabled":true,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","queueTimeout":"5000","queuePause":"250","contextStore":"default"}]
